.multi-color {
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0px 1px #dedede;


    &__wrp {
        overflow: hidden;
        transform: rotate(45deg);
        display: flex;
        height: 100%;
        height: calc(100% + 6px);
        margin: -3px;

        & span {
            flex-grow: 1;
            display: block;
        }
    }


}

.popup-select-color {

    padding: 12px;
    height: 100%;

    @media screen and (max-width: 992.98px) {
        .popup-select-color {
            padding: 12px 12px 30px 12px;
        }
    }



    @media screen and (min-width: $w576) {
        min-width: 540px;
        max-width: 560px;

        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        padding: 12px 28px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 100px;
        max-height: calc(62vh - 100px);
        overflow-y: auto;

        @media screen and (min-width: $w480) {
            overflow-y: visible;
            max-height: none;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__title {
        text-align: center;
        font-size: 15px;
        color: #8d8d8d;
        padding-bottom: 24px;
        padding-top: 10px;
    }

    &__product {
        font-size: 17px;
        font-weight: bold;

        padding-bottom: 16px;

        @media screen and (min-width: $w480) {
            padding-bottom: 36px;
            font-size: 19px;
        }
    }

    &__btn {
        left: 0;
        right: 0;
        padding-top: 24px;
        position: absolute;
        bottom: 29px;
        display: flex;
        justify-content: center;
        z-index: 10;


        & .btn {
            width: 68%;
        }
    }

    &__item {
        background-color: var(--bg);
        width: calc(50% - 6px);
        border-radius: 8px;

        & label {

            height: 100%;
            display: flex;
            flex-direction: column;

            & input {
                display: none;

                &:checked {
                    &~.product-checkbox {

                        border: 2px solid var(--accent);
                        border-radius: 8px;

                        & .multi-color {

                            position: relative;
                            border-color: var(--accent);
                            box-shadow: 0 0 0px 1px #0090c3;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background-color: var(--accent);

                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
                            }
                        }
                    }
                }

            }
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 24PX;

        & span {
            font-size: 14px;
            color: #8d8d8d;
        }
    }

    &__table {
        display: table;
        width: 100%;
        font-size: 14px;
    }

    &__tr {
        display: table-row;

    }

    &__td {
        display: table-cell;
        border-bottom: 1px solid #eee;
        padding: 10px 6px;

        &:nth-child(1) {
            & strong {
                font-weight: bold;
            }

            & span {
                color: #878787;
                font-family: var(--font-montserrat);
                margin-left: 10px;
            }
        }

        &.td-remove {
            & span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f2f6f9;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin-left: auto;

                opacity: 0.3;
                pointer-events: none;

                &:hover {
                    background-color: #ccc;
                    opacity: 1;
                }

                &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    transform: rotate(45deg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTUuMTI3IDQuMjFWLjYyN0gzLjg3NXYzLjU4NUguMjg5djEuMjUyaDMuNTg2VjkuMDVoMS4yNTJWNS40NjNoMy41ODVWNC4yMUg1LjEyN3oiIGZpbGw9IiMwMDAiLz48L3N2Zz4=);
                }
            }
        }
    }

    &__bottom {
        position: static;
        bottom: 12px;
        left: 0;
        right: 0;
        padding: 12px;
        padding-top: 24px;

        @media screen and (min-width: $w480) {
            position: absolute;
            padding-top: 12px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        padding-bottom: 12px;

        &:last-child {
            padding-bottom: 0;
        }

        & a {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        & .btn {
            width: 100%;

            @media screen and (min-width: $w480) {
                width: 80%;
            }
        }
    }

    &__total {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 24PX;
        display: flex;
        align-items: center;
        justify-content: center;

        & i {
            font-style: normal;
        }

        & span {
            font-size: 14px;
            color: #8d8d8d;
            margin-left: 12px;
        }
    }

}

.counter {

    display: flex;
    align-items: center;

    &__input {

        height: 100%;
        display: flex;
        align-items: center;
        padding: 7px;
        border-radius: 8px;

        & input {
            width: 40px;
            font-size: 18px;
            font-weight: bold;
            border: none;
            text-align: center;
            background: transparent;


            &[data-is-empty="true"] {
                color: var(--accent);
            }
        }
    }

    &__dec,
    &__inc {
        width: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: 0.3s ease;
            opacity: 1;

        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &__dec {
        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04LjgyIDEuNDY0SC4zOTdWLjIxMkg4LjgydjEuMjUyeiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
        }
    }

    &__inc {
        &::after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTUuMTI3IDQuMjFWLjYyN0gzLjg3NXYzLjU4NUguMjg5djEuMjUyaDMuNTg2VjkuMDVoMS4yNTJWNS40NjNoMy41ODVWNC4yMUg1LjEyN3oiIGZpbGw9IiMwMDAiLz48L3N2Zz4=);
        }
    }
}


.product-checkbox {

    transition: 0.3s ease;
    cursor: pointer;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 8px;

    &:hover {
        border-color: #dce2e7;
    }

    &__image {

        padding-bottom: 16px;

        @media screen and (min-width: $w480) {
            padding-bottom: 32px;
        }

        & picture {
            @include picture(100%, contain);

            @media screen and (min-width: $w480) {
                padding-top: 120%;
            }
        }
    }

    & img {
        mix-blend-mode: multiply;
    }

    &__color {
        display: flex;
        justify-content: center;
        padding-bottom: 24px;
        font-size: 15px;
        font-family: var(--font-montserrat);
        font-weight: 500;
        padding-left: 16px;
        padding-right: 16px;

        @media screen and (max-width: $w480) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            line-height: 120%;

            & .multi-color {
                margin-right: 0;
                margin-bottom: 6px;
            }
        }

        & .multi-color {
            margin-right: 12px;
            width: 22px;
            min-width: 22px;
            height: 22px;


        }
    }


}



.item-size {
    border-radius: 24px;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    gap: 0;

    @media screen and (max-width: $w576) {
        display: none;

        &:nth-child(1),
        &:nth-child(2) {
            display: flex;
        }
    }

    & span {
        background-color: var(--bg);
        font-size: 13px;
        font-weight: 600;
        padding: 0 8px;
        display: inline-block;

        &:nth-child(1) {
            padding-right: 5px;
            background-color: #dfe3e6;
        }

        &:nth-child(2) {
            padding-left: 7px;
        }
    }
}

.more-items {
    background: var(--bg);
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 8px;
    line-height: 20px;
    height: 30px;
    cursor: pointer;

    @media screen and (min-width: $w576) {
        display: none;
    }

}

.popup-confirm {
    display: none;
    padding: 20px 10px;

    @media screen and (min-width: $w576) {
        padding: 30px 40px;
    }

    &__icons {
        padding-bottom: 25px;

        display: flex;
        justify-content: center;

    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 15px;
        line-height: 133%;
    }

    &__desc {
        padding-bottom: 25px;
        text-align: center;
        color: rgba(17, 27, 41, 0.5);
    }

    &__btn {
        & .btn {
            margin: 0 auto;
        }
    }

    &__form {
        & textarea {
            border: 1px solid #ddd;
            border-radius: 6px;
            padding: 15px;
            display: block;
            width: 100%;
            resize: vertical;
            min-height: 120px;
        }
    }

    &__btns {

        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: $w480) {
            flex-direction: row;
            justify-content: space-between;
        }

        & .btn {

            width: calc(100%);

        }
    }

    &__form {
        padding-bottom: 15px;
    }

    &__close {

        padding-top: 20px;
        text-align: center;

        & span {
            color: $blue;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.af-popup__content .popup-confirm {
    display: block;
}

.popup-select-color__tr:has(input[data-is-empty="true"]) .td-remove span {
    opacity: 1;
    pointer-events: auto;
}

.popup-select-color__td.td-remove span:hover {
    background-color: #dfe7ed;
}

.popup-select-color__tr:has(input[data-is-empty="true"]) .counter__input {

    background-color: var(--bg);

}

.popup-select-color__tr:has(input[data-is-empty="false"]) .counter__input {

    opacity: 0.3;

}

.popup-select-color__tr:has(input[data-is-empty="false"]) .counter__input:hover,
.popup-select-color__tr:has(input[data-is-empty="false"]:focus) .counter__input {
    opacity: 1;
}