.category-filter {

    display: none;
    position: sticky;
    top: 95px;

    @media screen and (min-width: $w992) {
        display: block;

        max-height: calc(100vh - 150px);
        overflow-y: auto;
        overflow-x: hidden;

         
        scrollbar-width: none !important;

        &::-webkit-scrollbar {
            display: none;
        }


    }

    @keyframes fade-drop-filter {
        from {
            opacity: 0;
            transform: translateY(10vh);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.is-open {


        @media screen and (max-width: $w992) {
            position: fixed;
            display: flex;
            background-color: #fff;
            top: 0;
            left: 0;
            right: 0;
            flex-direction: column;
            z-index: 1000;
            animation: fade-drop-filter 0.3s ease forwards;
            height: 100%;
        }

        & .category-filter {
            &__wrp {
                padding: 16px;
                display: flex;
                flex-direction: column;

                overflow: auto;
                height: calc((var(--vh, 1vh) * 100) - 48px);

                @media screen and (min-width: $w576) {
                    padding: 20px;
                }
            }

            &__head {
                display: flex;
            }

            &__props {
                flex-grow: 1;
                // overflow: auto;
                // height: calc((var(--vh, 1vh) * 100) - 64px - 48px);
                padding-bottom: 16px;

                padding-right: 16px;
                margin-right: -16px;

                @media screen and (min-width: $w576) {
                    padding-right: 20px;
                    margin-right: -20px;
                }

                @media screen and (min-width: $w992) {
                    height: calc((var(--vh, 1vh) * 100) - 64px - 48px);
                }
            }





        }
    }

    &__head {

        height: 48px;
        min-height: 48px;
        padding: 27px 15px 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        display: none;

        @media screen and (min-width: $w992) {
            padding: 20px 0px 10px 0px;
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 16px;

            & .ic_24 {
                width: 35px;
                min-width: 35px;
                height: 35px;
                background-color: #2F3030;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                & svg {
                    fill: #fff;
                }
            }
        }

        &-close {

            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--accent);
            border-radius: 50%;
            cursor: pointer;

            & .icon-cross {
                width: 14px;
                height: 14px;
                min-width: 14px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: transparent;
                display: block;
                opacity: 1;
                cursor: pointer;
                border-radius: 4px;
                transition: 0.3s ease;
                transform: rotate(45deg);


            }

            &:hover {
                background-color: var(--accent);

                & .icon-cross {

                    &::after,
                    &::before {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;



        background-color: #fff;
        z-index: 5;
        position: relative;

        @media screen and (min-width: $w992) {
            box-shadow: none;
        }

        & button {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 44px;
            border-radius: 40px;
            font-size: 16px;
            font-weight: 600;

        }
    }

    &__send {
        width: 100%;
    }

    &__clear {
        height: 48px;
        color: $gray-56;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
        width: 100%;
        border-radius: 3px;
    }


    &__item {
        border-top: 1px solid var(--line);
    }

    &__wrp {
        padding-top: 13px;

        @media screen and (min-width: $w992) {

            padding-top: 0;
            margin-top: -20px;

        }
    }

}

.filter-properties {
    padding: 8px 0 8px 0;

    &.is-hide {
        & .filter-properties {
            &__cross {
                &::before {
                    transform: rotate(180deg);
                }
            }

            &__colors,
            &__list {
                max-height: 0;
                overflow: hidden;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    &__single {
        & .checkbox__text {
            font-weight: bold;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 500;



        &:hover {
            //color: $accent-2-1;
            cursor: pointer;
        }
    }

    &__cross {
        min-width: 12px;
        width: 12px;
        height: 12px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
            top: 2px;
            position: relative;
            width: 10px;
            height: 7px;
            content: '';
            transform: rotate(0);
            transition: 0.3s ease;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNzA3IDYuNzA3YTEgMSAwIDAxLTEuNDE0IDBMNSAzLjQxNCAxLjcwNyA2LjcwN0ExIDEgMCAwMS4yOTMgNS4yOTNMNSAuNTg2bDQuNzA3IDQuNzA3YTEgMSAwIDAxMCAxLjQxNHoiIGZpbGw9IiMwMjAyMDIiLz48L3N2Zz4=);
        }

    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 13px;
        cursor: pointer;


    }

    &__input {
        display: flex;
        align-items: center;
        height: 42px;
        border-radius: 4px;
        background-color: #eee;

        & input {
            background-color: #eee;
        }

        & span {
            color: $gray-56;
        }

    }

    &__row {

        display: flex;
        gap: 8px;
    }

    &__slider {
        margin: 0 -10px;
        padding-top: 7px;
    }

    &__colors {

        max-height: 600px;
        transition: 0.3s ease;
        overflow: hidden;

        &:hover {
            overflow: visible;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            margin: -5px;

            & li {
                padding: 5px;

                & label {
                    & input {
                        display: none;

                        &[disabled] {

                            &~span {
                                pointer-events: none;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAxMi4zNjRMLjM1NyAyNC4zNWwtLjcxNy0uNjk3IDExLjY2MS0xMi4wMDVMLjMyNy4zNDlsLjcxOC0uNjk3IDEwLjk1NCAxMS4yNzdMMjIuOTU0LS4zNDhsLjcxNy42OTctMTAuOTc1IDExLjI5OCAxMS42NjIgMTIuMDA1LS43MTcuNjk3LTExLjY0Mi0xMS45ODV6IiBmaWxsPSIjQ0NDIi8+PC9zdmc+);
                            }

                        }

                        &:checked {
                            &~span {
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);

                                &.color--border {
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjQuMjMyYTEgMSAwIDAxLjEyOCAxLjQwOGwtNSA2YTEgMSAwIDAxLTEuNDc1LjA2N2wtMy0zYTEgMSAwIDExMS40MTQtMS40MTRsMi4yMjYgMi4yMjZMOC4yMzIuMzU5QTEgMSAwIDAxOS42NC4yMzN6IiBmaWxsPSIjMDAwIi8+PC9zdmc+);
                                }

                            }
                        }
                    }

                    & span {

                        box-shadow: 0 0 0px 1px #dedede;
                        margin: 1px;

                        &::before {
                            min-width: auto;
                            white-space: nowrap;
                            top: auto;
                            bottom: calc(100% + 8px);
                            padding: 3px 10px;
                            font-size: 13px;
                            transform: translateX(calc(-50% + 12px));
                        }
                    }


                }
            }

            & span {
                width: 24px;
                height: 24px;
                background-color: #eee;
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
            }
        }
    }

    &__range {
        & input[type] {
            border: none;
            height: 100%;
            padding: 0 7px;
            width: 100%;
            font-size: 15px;
            font-family: var(--font-montserrat);
            font-weight: 400;

        }

        & .filter-properties {
            &__input {

                padding: 0 11px;
                border-radius: 36px;
                overflow: hidden;
            }


        }
    }



    &__list {

        max-height: 600px;
        transition: 0.3s ease;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;


        & ul {

            &.is-open {


                & li {
                    display: block;
                }
            }

            &.items-wrap {
                flex-wrap: wrap;
                display: flex;
                margin-left: -5px;
                margin-right: -5px;
                padding-bottom: 10px;

                & li {
                    padding: 5px;
                }


            }

            & li {
                padding-bottom: 8px;
                display: none;

                &:last-child {
                    padding-bottom: 0;
                }

                &:nth-child(-n+5) {
                    display: block;
                }
            }


        }
    }
}

.filter-properties__list-shop {
    ul {
        display: flex;
        align-items: center;

        li {
            label {
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
    }

}

// zb range slider

.slider {
    display: block;
    position: relative;
    height: 36px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    .slider-touch-left,
    .slider-touch-right {

        display: block;
        position: absolute;
        height: 36px;
        width: 36px;
        padding: 6px;
        z-index: 2;
        cursor: pointer;

        & span {
            display: block;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            border: 4px solid var(--accent);
            margin: 4px;

        }
    }

    .slider-touch-right {
        & span {
            margin-left: 0;
        }
    }

    .slider-touch-left {
        & span {
            margin-right: 0;
        }
    }

    .slider-line {

        position: absolute;
        width: calc(100% - 36px);
        left: 18px;
        top: 18px;
        height: 4px;
        border-radius: 4px;
        background: #F0F0F0;
        z-index: 0;
        overflow: hidden;

        span {
            display: block;
            height: 100%;
            width: 0%;
            background: var(--accent);
        }
    }
}

.sub-menu-toggle {

    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 13px;
    color: #666;

    &::after {
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4yOTMgMS43MDdMMS43MDcuMjkzIDUgMy41ODYgOC4yOTMuMjkzbDEuNDE0IDEuNDE0TDUgNi40MTQuMjkzIDEuNzA3eiIgZmlsbD0iIzlEOUQ5RCIvPjwvc3ZnPg==);
        width: 12px;
        height: 10px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 7px;
        transition: 0.3s ease;
    }

    &.is-open {
        &::after {
            transform: rotate(180deg);
        }
    }
}


label[data-tooltip],
span[data-tooltip],
a[data-tooltip] {
    position: relative;
    display: inline-block;
}

label[data-tooltip]::before,
span[data-tooltip]::before,
a[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #3A3A3A;
    top: 115%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 3px 10px;
    z-index: 2;
    font-size: 13px;
    left: 0;
    transform: translateX(calc(-50% - -20px));
    min-width: 150px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
    color: #fff;

}

label[data-tooltip]:hover::before,
span[data-tooltip]:hover::before,
a[data-tooltip]:hover::before {
    opacity: 1;
}


.colors-checkbox {
    & .checkbox {
        &__elem {
            border-color: #E0E0E0 !important;
            border-radius: 5px;
        }


    }
}

.color--white .checkbox__elem::after {
    filter: invert(1)
}