@mixin ic-cross-svg {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%23fff' stroke-width='3px'%3E%3Cpath d='M20 20L4 4m16 0L4 20'%3E%3C/path%3E%3C/svg%3E");
}

.catalog-category {


    @media screen and (min-width: $w480) {
        padding: 6px 0;

    }

    &__wrp {
        @media screen and (min-width: $w992) {
            display: flex;
            padding-top: 7px;
        }
    }

    &__banner {
        & .section-banner-small {
            padding: 19px 0;

            & .container {
                width: 100%;
                padding: 0;
            }
        }
    }



    &__aside {

        transition: 0.4s ease;

        @media screen and (min-width: $w992) {
            width: 325px;
            padding: 0px 28px 0px 0px
        }
    }

    &__content {

        transition: 0.4s ease;

        @media screen and (min-width: $w992) {
            width: calc(100% - 325px);
            padding-left: 20px;
        }
    }

    &__subcat {

        padding-bottom: 0;

        @media screen and (min-width: $w576) {
            padding-bottom: 0;
        }

        & ul {
            display: flex;
            margin: 0 -6px;
            overflow-y: hidden;
            overflow-x: auto;
            scrollbar-width: none !important;
            overflow: hidden;
            flex-wrap: wrap;




            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: #eee;
                border-radius: 4px;
                height: 4px;
            }

            &::-webkit-scrollbar-thumb {

                border-radius: 4px;
                height: 4px;
            }


            & li {

                width: calc(50% - 12px);
                position: relative;
                margin: 6px;
                min-width: 120px;
                background-color: #F2F6F9;
                border-radius: 8px;
                overflow: hidden;

                @media screen and (min-width: $w1440) {
                    width: calc(14.28% - 12px);
                }

                @media screen and (min-width: $w1200) {
                    width: calc(16.6% - 12px);
                }

                @media screen and (min-width: $w1024) {
                    width: calc(20% - 12px);
                }

                @media screen and (min-width: 991px) {
                    width: calc(25% - 12px);
                }

                @media screen and (min-width: $w760) {
                    width: calc(33.33% - 12px);
                }

                @media screen and (min-width: $w576) {
                    min-width: 180px;
                }

                @media screen and (max-width: $w576) {
                    display: none;

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: block
                    }

                }


                & picture {
                    @include picture(100%, contain);
                    position: relative;
                    z-index: 1;
                    margin: 0 auto;

                    & img {
                        object-position: bottom
                    }
                }

                & span {
                    @include layer(2);
                    background: rgba(0, 0, 0, 0.22);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 6px;

                    font-size: 15px;
                    font-weight: 600;
                    line-height: 107%;
                    transition: 0.3s ease;
                }

                & .image-main {
                    transition: 0.45s ease;
                }

                &:hover {
                    & span {

                        color: transparent;
                    }

                    & .image-main {
                        transform: scale(1.05);
                    }
                }
            }

        }

        &.is-open {
            & ul {
                & li {
                    display: block;
                }
            }
        }

        & .subcat-show-more {
            background-color: var(--bg);
            height: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: bold;
            margin-top: 6px;
            display: none;
            cursor: pointer;

            &:hover {
                color: var(--accent);
            }
        }
    }


    &__breadcrumb {
        margin-top: -8px;
        padding-bottom: 8px;

        @media screen and (min-width: $w480) {
            padding-bottom: 12px;
        }

        & .breadcrumb {
            padding: 0;
        }
    }

    &__h1 {
        padding-bottom: 9px;

        @media screen and (min-width: $w480) {
            padding-bottom: 22px;
        }

        & h1 {
            @include font-h1;
            margin: 0;
        }
    }


    &__top {
        display: flex;
        padding: 10px 0;
        align-items: center;
        background-color: #fff;
        margin-bottom: 22px;
        flex-wrap: wrap;


    }

    &__filter {
        margin-right: 0;
        letter-spacing: 0.64px;
        width: calc(100% - 80px);

        @media screen and (min-width: $w576) {
            width: auto;
        }

        @media screen and (min-width: $w992) {
            width: 345px;
        }

        & .button-filter {
            display: flex;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 8px;

            @media screen and (min-width: $w480) {
                font-size: 18px;
                gap: 16px;
            }


            & .ic_24 {
                width: 35px;
                min-width: 35px;
                height: 35px;
                background-color: var(--accent);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s ease;

                @media screen and (min-width: $w992) {
                    background-color: #2F3030;
                }

                & svg {
                    fill: #fff;
                }

                &:hover {
                    background-color: var(--accent);
                }
            }
        }
    }

    &__sort {
        margin-left: 0;
        margin-right: 24px;
        letter-spacing: 0.64px;
        margin-left: auto;
        width: 100%;
        order: 3;
        margin-left: 0;
        margin-right: 0;

        padding-top: 24px;

        @media screen and (min-width: $w992) {
            margin-right: auto;
            margin-left: 0;
        }


        @media screen and (min-width: $w576) {
            max-width: none;
            width: auto;
            order: unset;
            margin-left: auto;
            margin-right: 36px;
            padding-top: 0;
        }

        & .list-dropdown {
            &.sort {
                &--up {
                    & .list-dropdown {
                        &__title {
                            &::before {
                                content: '';
                                min-width: 24px;
                                width: 24px;
                                height: 24px;
                                display: inline-block;
                                margin-right: 5px;
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 8H5V6H8V8ZM13 13H5V11H13V13ZM5 18H19V16H5V18Z' fill='black'/%3E%3C/svg%3E");

                                display: none;

                                @media screen and (min-width: $w576) {
                                    display: block;
                                }

                            }
                        }
                    }
                }

                &--down {



                    & .list-dropdown {
                        &__title {
                            &::before {
                                content: '';
                                min-width: 24px;
                                width: 24px;
                                height: 24px;
                                display: inline-block;
                                margin-right: 5px;
                                transform: rotate(180deg);
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 8H5V6H8V8ZM13 13H5V11H13V13ZM5 18H19V16H5V18Z' fill='black'/%3E%3C/svg%3E");
                                display: none;

                                @media screen and (min-width: $w576) {
                                    display: block;
                                }

                            }
                        }
                    }
                }
            }

            &__title {
                @media screen and (min-width: $w576) {
                    white-space: nowrap;
                }
            }
        }
    }



    &__tags {

        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        order: 5;
        display: flex;
        margin-bottom: 0;
        width: 100%;
        scrollbar-width: none !important;
        margin-top: 12px;
        padding-bottom: 8px;

        @media screen and (min-width: $w576) {
            margin-top: 0;
            padding-bottom: 12px;
        }

        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        &.is-open {
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;


            & .show-more-tag {
                margin-left: 0;
                margin-top: 12px;

            }
        }


        & ul {
            display: flex;
            margin: -4px -5px;


            & li {
                padding: 4px 5px;
                // display: none;

                // &:nth-child(-n + 10) {
                //     display: block;
                // }

                // @media screen and (min-width: $w480) {
                //     &:nth-child(-n + 5) {
                //         display: block;
                //     }
                // }

                // @media screen and (min-width: $w992) {
                //     &:nth-child(-n + 6) {
                //         display: block;
                //     }
                // }

                &.is-hide {
                    display: none;
                }

                &.is-active {

                    display: flex;
                    align-items: center;

                    & span,
                    & a {
                        background-color: var(--accent);
                        color: #fff;
                        transition: background 0.3s ease;


                        &::after {
                            @include ic-cross-svg;
                            content: '';

                            width: 14px;
                            height: 14px;
                            display: inline-block;
                            margin-left: 3px;
                            position: relative;
                            left: 3px;

                        }
                    }
                }

                & span,
                & a {
                    background-color: #ededed;
                    border-radius: 30px;
                    min-height: 30px;
                    display: flex;
                    align-items: center;
                    padding: 0 1em;
                    white-space: nowrap;
                    cursor: pointer;
                    font-size: 14px;
                    font-family: var(--font-montserrat);
                    font-weight: 500;

                    @media screen and (min-width: $w480) {
                        padding: 0 1.45em;
                    }

                }
            }


        }

        & .show-more-tag {
            background-color: #ededed;
            border-radius: 30px;
            min-height: 32px;
            display: flex;
            align-items: center;
            padding: 0 1em;
            margin-left: 16px;
            cursor: pointer;
            display: none;
            font-family: var(--font-montserrat);
            font-weight: 500;

            &:hover {
                background-color: #ddd;
            }
        }

        &.is-open {



            & ul {
                flex-wrap: wrap;


                & li {
                    display: block;

                }
            }

            & .show-more-tag {
                background-color: var(--black);
                color: #fff;
            }

            & .tags-category-wrp {
                flex-wrap: wrap;
            }
        }


    }

    &__view {}

    &__collections {

        padding-top: 40px;

        @media screen and (min-width: $w1440) {
            padding-top: 62px;
        }

        & .tag-collections {
            padding: 0;
            max-width: 855px;
            margin: 0 auto;

            & ul {
                justify-content: center;
            }
        }
    }

    &__pagination {

        padding-top: 80px;

        & .pagination {
            &__page {
                margin-left: auto;
                margin-right: auto;

                @media screen and (min-width: $w992) {
                    padding: 36px 0;
                }
            }
        }
    }



    &.is-close-filter {
        & .catalog-category {



            &__aside {
                margin-left: -325px;
                opacity: 0;
                pointer-events: none;
            }

            &__content {
                width: 100%;
                padding-left: 0;
                border: none;
            }

            &__top {
                @media screen and (min-width: $w992) {
                    position: sticky;
                    top: var(--hgt-header, 86px);
                    z-index: 5;

                }


            }

            &__tags {
                @media screen and (min-width: $w992) {
                    order: unset;
                    padding-left: 15px;
                    padding-right: 15px;

                }
            }
        }

        & .category-products {
            &__item {
                @media screen and (min-width: $w1440) {
                    width: 20%;
                    padding-bottom: 60px;
                }

                @media screen and (min-width: $w1200) {
                    width: 25%;
                    padding-bottom: 60px;
                }

                @media screen and (min-width: $w992) {
                    width: 33.33%;
                    padding-bottom: 30px;
                }

                &--lg {
                    @media screen and (min-width: $w1440) {
                        width: 40%;
                        padding-bottom: 60px;
                    }

                    @media screen and (min-width: $w1200) {
                        width: 50%;
                        padding-bottom: 60px;
                    }

                    @media screen and (min-width: $w992) {
                        width: 66.66%;
                        padding-bottom: 30px;
                    }
                }
            }

            &.view--list>.category-products__item {
                width: 100%
            }
        }
    }

    & .image-main {
        max-width: 70px;
        margin: 0 auto;
        width: 90%;
        margin-top: -6px;

        @media screen and (min-width: $w992) {
            max-width: 180px;
        }

        @media screen and (min-width: $w480) {
            max-width: 157px;
        }
    }

    & .image-hover {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;

        opacity: 0;
        z-index: 2;

        & picture {
            background-color: rgba(231, 235, 238, 1);
        }

        & img {
            mix-blend-mode: multiply;
        }
    }

    & .title-subcat {

        font-size: 15px;
        font-weight: 600;
        line-height: 108%;
        margin-top: 14px;
        padding: 0 16px 16px;
        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }

        @media screen and (min-width: $w480) {
            font-size: 16px;
            margin-top: 22px;
            padding: 0 24px 16px;
            margin-top: 16px;
        }

        &:hover {
            color: var(--accent);
        }
    }
}

.list-dropdown {

    position: relative;

    &__title {

        height: 36px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        font-size: 16px;
        padding: 12px 12px;


        @media screen and (min-width: $w760) {
            font-size: 16px;
        }

        &::after {
            content: '';
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4yOTMuMjkzYTEgMSAwIDAxMS40MTQgMEw1IDMuNTg2IDguMjkzLjI5M2ExIDEgMCAwMTEuNDE0IDEuNDE0bC00IDRhMSAxIDAgMDEtMS40MTQgMGwtNC00YTEgMSAwIDAxMC0xLjQxNHoiIGZpbGw9IiM3ODdEOEYiLz48L3N2Zz4=);
            background-position: center;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s ease;
            margin-left: 10px;

        }


    }

    &__list {
        position: absolute;
        top: calc(100% + 8px);
        right: 0;

        background: var(--white, #FFF);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
        width: 100%;
        max-width: 360px;
        min-width: 280px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        transition: 0.3s ease;
        z-index: 5;
        padding: 10px 10px;

        & ul {
            & li {
                & a {
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;

                    transition: 0.3s ease;

                    & svg {
                        margin-left: auto;
                    }


                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }
    }

    &:hover {

        background-color: #fff;

        & .list-dropdown {
            &__list {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }

            &__title {
                &::after {
                    @media screen and (min-width: $w760) {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &--right {
        & .list-dropdown {
            &__list {
                right: auto;
                left: 0;
            }
        }
    }
}

.change-view {

    display: flex;
    align-items: center;
    background-color: var(--bg);
    border-radius: 30px;
    width: 80px;
    display: none;

    @media screen and (min-width: $w576) {
        display: flex;
    }

    &--column {

        display: flex;

        @media screen and (min-width: $w576) {
            display: none;
        }
    }

    &__item {

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 30px;

        width: 40px;
        height: 40px;

        background-color: var(--bg);

        & label {

            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            & svg {
                width: 20px;
                height: 14px;
                fill: rgba(0, 0, 0, 0.27);
            }

            & input {
                display: none;

                &:checked {
                    &~svg {
                        fill: #2F3030;
                        background-color: #eee;

                    }
                }
            }
        }

    }

    & svg {
        fill: #D2D2D2;
        width: 34px;
        height: 34px;
        transition: 0.3s ease;
    }
}

.category-products {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: flex-start;

    @media screen and (min-width: $w760) and (max-width: $w992) {

        max-width: 730px;
        margin: 0 auto;

    }

    &__item {
        padding: 10px;
        width: 50%;

        &--lg {
            width: 100%;
        }

        @media screen and (min-width: $w1660) {
            width: 25%;
            padding-bottom: 60px;

            &--lg {
                width: 50%;
            }
        }

        @media screen and (min-width: $w1200) {
            width: 33.33%;
            padding-bottom: 60px;

            &--lg {
                width: 66.66%;
            }
        }



        @media screen and (min-width: $w992) {
            width: 50%;
            padding-bottom: 30px;
            margin-bottom: 0;

            &--lg {
                width: 100%;
            }
        }

        @media screen and (min-width: $w760) {
            width: 50%;
            margin-bottom: 44px;

            &--lg {
                width: 100%;
            }
        }

    }

    & .minicard {
        &__prop {

            @media screen and (max-width: $w480) {
                & .minicard-prop {
                    padding: 3px 5px;

                    & svg {
                        width: 13px;
                        margin: auto;
                    }
                }
            }

        }

        &__tofav,
        &__compare {
            @media screen and (max-width: $w480) {
                width: 30px;
                height: 30px;
            }
        }

        &__stickers {
            @media screen and (max-width: $w576) {
                display: none;
            }
        }

        &__instock {
            @media screen and (max-width: $w576) {
                left: 46px;

                & span {
                    padding: 3px 10px;
                    font-size: 11px;
                }
            }

            @media screen and (max-width: $w480) {

                left: 32px;

                & span {
                    min-height: 25px;
                }
            }
        }



    }

    &.column-one {
        @media screen and (max-width: $w576) {
            & .category-products {
                &__item {
                    width: 100%;

                    & .minicard {
                        &__prop {
                            display: block;

                            & .minicard-prop {
                                padding: 10px 11px;

                                & svg {
                                    width: 18px;

                                }
                            }
                        }

                        &__action {
                            opacity: 1;
                            background-color: transparent;
                        }

                        &__tofav,
                        &__compare {
                            @media screen and (max-width: $w480) {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        &__tocart {
                            @media screen and (max-width: $w480) {
                                width: 42px;
                                height: 42px;

                                & svg {
                                    width: 42px;
                                    height: 42px;
                                }
                            }
                        }

                        &__stickers {
                            display: block;
                            right: 48px;
                        }

                        &__instock {
                            left: 46px;

                            & span {
                                min-height: 40px;
                                padding: 3px 10px;
                                font-size: 14px;
                            }
                        }

                        &__price,
                        &__vcode,
                        &__desc {
                            text-align: left;
                            min-height: auto;
                        }

                        &__colors {
                            display: block;
                        }


                    }
                }
            }
        }
    }

    &:not(.column-one) {
        & .minicard {
            & .incart-text {
                @media screen and (max-width: $w576) {
                    display: none;
                }
            }

            &__tocart {
                &.is-active {
                    padding-right: 0;
                }
            }



            @media screen and (max-width: 480px) {
                &:not(.minicard--large) {
                    & .minicard {
                        &__action {
                            position: static;
                            margin: 6px;
                            background-color: #fff;
                        }

                        &__top {
                            background-color: var(--bg);
                            border-radius: 8px;
                        }

                        &__bg {
                            flex-direction: row-reverse;
                            margin-right: 0;
                            flex-grow: 1;
                            justify-content: flex-end;
                        }

                        &__tofav {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }

    &.view--list {
        @media screen and (min-width: $w760) {
            & .category-products {
                &__item {
                    width: 100%;
                    padding-bottom: 24px;
                    border-bottom: 1px solid #ddd;
                    margin-bottom: 16px;
                    padding-left: 0;
                    padding-right: 0;

                    & .minicard:not(.minicard--large) {
                        flex-direction: row;
                        position: relative;

                        & .minicard {



                            &__photo {
                                width: 180px;

                                @media screen and (min-width: $w1024) {
                                    width: 220px;
                                }
                            }

                            &__main {
                                padding-left: 36px;
                                width: calc(100% - 180px - 240px);

                                @media screen and (min-width: $w1024) {
                                    width: calc(100% - 220px - 240px);
                                }
                            }

                            &__top {
                                position: static;
                            }

                            &__head {
                                position: static;
                            }

                            &__desc span {
                                font-size: 18px;
                                font-weight: 500;
                                max-width: 340px;

                                @media screen and (min-width: $w1024) {
                                    max-width: 480px;
                                }
                            }

                            &__brand {
                                top: 10px;
                                left: 80px;
                                position: absolute;
                                z-index: 4;

                                @media screen and (min-width: $w1024) {
                                    left: 115px;
                                }
                            }

                            &__sticker {
                                bottom: 16px;
                                left: 16px;
                                position: absolute;
                                z-index: 4;

                                & span {
                                    background-color: var(--accent);
                                    color: #fff;
                                }
                            }

                            &__action {
                                right: 0;
                                top: 0;
                                align-items: center;
                                left: auto;

                                &>div {
                                    display: flex;
                                    opacity: 1;
                                }
                            }

                            &__bg {
                                flex-direction: row;
                                display: flex !important;

                            }

                            &__price {

                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                    }

                    & .minicard--large {

                        flex-direction: row;
                        gap: 12px;

                        & .minicard {
                            &__top {
                                width: calc(100% - 350px);
                            }

                            &__main {
                                width: 350px;
                                background-color: var(--bg);
                                border-radius: 8px;
                                padding: 40px;
                            }

                            &__action {
                                position: absolute;
                            }

                            &__photo-hover,
                            &__photo {
                                & picture {
                                    padding-top: 39%;
                                }
                            }

                            &__price {

                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                    }


                }
            }
        }
    }


}

.tags-category-wrp {
    display: flex;
    align-items: center;
    min-height: 40px;

}


.af-popup__content .minicard-prop__list {
    width: auto;
    height: auto;
    overflow: visible;
    padding: 20px 10px;

    & ul {
        opacity: 1;

        & li {
            padding: 5px 0;
            font-size: 16px;

            & span {
                color: #777;
            }
        }
    }

}

.sortable-category {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;

    @media screen and (min-width: $w576) {
        justify-content: flex-start;
    }

    &__item {
        & a {
            display: flex;
            align-items: center;

            & svg {
                width: 14px;
                height: 14px;
                fill: #000;
            }

            & span {
                font-size: 14px;
                font-family: var(--font-montserrat);
                margin-left: 12px;
                font-weight: 600;
            }

            &:hover {
                color: var(--accent);

                & svg {
                    fill: var(--accent);
                }
            }


        }

        &.is-active {
            & svg {
                fill: var(--accent);
                transform: rotate(180deg);
            }
        }

    }
}