mixin item-review(data)
    .item-review
        .item-review__main
            .item-review__text: span= data.text
            .item-review__user
                .user-review
                    .user-review__photo
                        +picturePng('/img/other/user-logo')
                    .user-review__data
                        .user-review__name= data.name
                        .user-review__desc Отдел закупов ООО “Велес”

        .item-review__media
            if(data.video)
                .item-review__video(data-rv="el")
                    .item-review__play(data-video=data.video)
                        +icons('#ic_play', 40)
                    .item-review__preview
                        +bgimage(data.preview)
                    
            if(data.image)
                .item-review__image
                    +picturePng(data.image)



mixin reviews-slider

    -
        const reviews = [
            {
                name: 'Иван Петров',
                text: 'Заказали спецодежду для своей команды в AGT, и остался очень доволен! Широкий выбор моделей, удобный интерфейс сайта и быстрая доставка. Особенно понравилось, что можно заказать нанесение логотипа — все сделано качественно и в срок. Рекомендуем всем, кто ищет надежного поставщика спецодежды! Широкий выбор моделей, удобный интерфейс сайта и быстрая доставка. Особенно понравилось, что можно заказать нанесение логотипа — все сделано качественно и в срок. Рекомендуем всем, кто ищет надежного поставщика спецодежды!',
                video: '/json/review.mp4',
                preview: '/img/other/review1.jpg',
            },
            {
                name: 'Максим',
                text: 'Покупали спецодежду для своей компании в AGT. В целом, впечатление положительное. Широкий выбор моделей, удобный интерфейс сайта и быстрая доставка. Особенно понравилось, что можно заказать нанесение логотипа — все сделано качественно и в срок. Рекомендуем всем, кто ищет надежного поставщика спецодежды! Большой ассортимент и возможность выездной примерки — это огромный плюс. Однако немного разочаровала скорость доставки, пришлось подождать чуть дольше, чем планировалось. Но качество одежды и нанесение логотипа полностью оправдали ожидания!',
                image: '/img/other/review2',
            },
           
        ]

    section.section-reviews-slider 
        .container
            .reviews-slider
                .reviews-slider__title Отзывы
                .reviews-slider__slider
                    .splide(data-slider="review")
                        .splide__track
                            .splide__list
                                each item in reviews
                                    .splide__slide: +item-review(item) 
