.section-tile-catalog {
    padding: 16px 0;
}

.tile-catalog {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px
    }

    &__item {
        border-radius: 8px;
        background: #F2F6F9;
        flex-grow: 1;
        width: calc(50% - 12px);
        height: auto;
        position: relative;


        @media screen and (min-width: $w1440) {
            height: 245px;
        }

        @media screen and (min-width: $w992) {
            height: calc(25vw - 80px - 32px);
        }

        @media screen and (min-width: $w760) {
            width: calc(25% - 12px);
        }

        @media screen and (min-width: $w576) {
            width: calc(33.33% - 12px);
        }


        & a {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $w992) {
                flex-direction: row;
            }
        }

        & picture {
            @include picture(100%, contain);
            transition: 0.3s ease;

            & img {
                mix-blend-mode: multiply;
            }
        }

        &:nth-child(1) {

            background-color: rgba(0, 0, 0, 0.80);
            height: calc(45vw - 47px);


            @media screen and (min-width: $w992) {
                max-width: 320px;
            }

            @media screen and (min-width: $w576) {
                display: block;
                max-width: 190px;
                height: auto;
            }

            & .tile-catalog {
                &__arrow {
                    display: none;
                }

                &__text {
                    color: #fff;
                }
            }

            & a {
                height: 100%;
            }
        }

        &:nth-child(3),
        &:nth-child(2) {


            width: 100%;

            @media screen and (min-width: $w576) {
                max-width: calc(50% - 95px - 12px);
            }

            @media screen and (min-width: $w992) {
                max-width: calc(50% - 160px - 12px);
            }

            & .tile-catalog {
                &__image {
                    @media screen and (max-width: $w576) {
                        margin-top: -48px;
                        width: calc(60vw - 80px - 32px);
                        min-width: calc(60vw - 80px - 32px);
                    }
                }
            }
        }
    }

    &__image {
        width: calc(50vw - 80px - 32px);
        min-width: calc(50vw - 80px - 32px);
        margin-left: auto;
        margin-right: 30px;

        @media screen and (min-width: $w1440) {
            width: 245px;
            min-width: 245px;
        }

        @media screen and (min-width: $w760) {
            width: calc(22vw - 80px - 32px);
            min-width: calc(22vw - 80px - 32px);
        }

        @media screen and (min-width: $w992) {
            width: calc(25vw - 80px - 32px);
            min-width: calc(25vw - 80px - 32px);
        }

        @media screen and (min-width: $w576) {
            width: calc(33.33vw - 80px - 32px);
            min-width: calc(33.33vw - 80px - 32px);
        }

    }

    &__text {
        padding: 15px 0 15px 15px;
        font-size: 17px;
        font-weight: 600;
        line-height: 100%;
        color: #2F3030;
        transition: 0.4s ease;


        @media screen and (min-width: $w1440) {
            font-size: 21px;
        }

        @media screen and (min-width: $w1200) {
            padding: 28px 0 28px 28px;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin-left: -57px;
        opacity: 0;
        transition: 0.4s ease;
        margin-right: 17px;
        position: absolute;
        right: 0;
        top: 50%;

        @media screen and (min-width: $w992) {
            position: relative;
            right: auto;
            top: auto;
        }

        & svg {
            fill: var(--accent);
        }
    }

    &__item {
        &:hover {
            & .tile-catalog {
                &__arrow {
                    margin-left: -36px;
                    opacity: 1;

                }

                &__text {
                    margin-right: -80px;
                }


                &__image {
                    & picture {
                        @media screen and (max-width: $w992) {
                            margin-left: -30px;
                        }
                    }
                }


            }
        }
    }
}