extends ../layouts/main
 
block variables
  include ../../data/data.pug
  - const title = "Зимний сигнальный огнестойкий анстистатический полукомбинезон Brodeks, mw18-05, желтый/черный"
 

block main 
 
  include ../../blocks/modules/single-product/single-product
  include ../../blocks/modules/product-slider/product-slider.pug
  include ../../blocks/modules/stores-slider/stores-slider.pug
  include ../../blocks/modules/home-faq/home-faq.pug

  +single-product
  +product-slider({title: 'Рекомендованные решения', modify: 'section-product-slider--rec'})
  +stores-slider-2
  +home-faq--noform
 

 
 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js")   