extends ../layouts/main
 
block variables
  include ../../data/data.pug
  - const title = "Зимний сигнальный огнестойкий анстистатический полукомбинезон Brodeks, mw18-05, желтый/черный"
 

block main 
 
  include ../../blocks/modules/single-product/single-product
  include ../../blocks/modules/product-slider/product-slider.pug
  include ../../blocks/modules/stores-slider/stores-slider.pug
  include ../../blocks/modules/home-faq/home-faq.pug

  +single-product
  +product-slider({title: 'Рекомендованные решения', modify: 'section-product-slider--rec'})
  +stores-slider-2
  +home-faq--noform

  .action-bar
    .action-bar__compare: +icons('#ic_compare')
    .action-bar__wishlist: +icons('#ic_heart')
    .action-bar__share(data-share="link" data-url="https://agt.ru/p/15641651"): +icons('#ic_share')
    .action-bar__cart
        +icons('#ic_to-cart')
        span В корзину
 

 
 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js")   