mixin banner-small
    section.section-banner-small
        .container
            a(href='catalog.html')
                .banner-small
                    .banner-small__bg
                        +picture('/img/common/banner')
                    .banner-small__content
                        .banner-small__wrp
                            .banner-small__title Зима близко!
                            .banner-small__subtitle Время утепляться!