mixin banner-small
    section.section-banner-small
        .container
            .banner-small
                .banner-small__bg
                    +picture('/img/common/banner')
                .banner-small__content
                        .banner-small__title Зима близко!
                        .banner-small__subtitle Время утепляться!