.section-contacts {
    @media screen and (min-width: $w1200) {
        padding: 30px 0 56px;
    }

    & .form {
        &__subitem {
            padding: 14px 10px !important;
        }

        & textarea {
            border: 1px solid rgba(0, 0, 0, 0.12);
            min-height: 115px;
        }
    }
}

.section-page--contacts {

    @media screen and (max-width: $w480) {
        & .page {
            &__breadcrumbs {
                padding-bottom: 17px;
            }

            &__title {
                padding-bottom: 2px;
            }
        }


    }
}

.section-stores-slider--contacts {
    @media screen and (max-width: $w480) {
        & .stores-slider__title {
            font-size: 24px;
            padding-bottom: 11px;
        }

        & .stores-slider__address {
            padding-left: 40px;
            padding-right: 40px;
        }

        .stores-slider__phone a {
            font-size: 16px;
            font-weight: 600;
        }

        .stores-slider__right picture {
            padding-top: 57%;
        }

        .stores-slider {
            padding-bottom: 43px;
        }





    }
}


.contacts {

    & .mb0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__main {
        font-size: 17px;
        font-weight: 300;
        line-height: 160%;

        @media screen and (min-width: $w1024) {
            display: flex;
            justify-content: space-between;

            & .contacts {
                &__requisites {
                    width: 24%;
                    max-width: 325px;
                }

                &__offers {
                    width: 40.5%;

                    & .contacts-item {
                        max-width: 460px;
                    }
                }

                &__mail {
                    width: 32%;
                }
            }
        }

        @media screen and (max-width: $w1024) and (min-width: $w760) {
            display: flex;
            flex-wrap: wrap;

        }
    }

    &__requisites {
        @media screen and (max-width: $w992) and (min-width: $w760) {

            margin: 0 -10px;

            & .contacts {
                &__item {
                    width: 33.33%;
                    padding: 0 10px;
                }
            }
        }
    }

    &__item {

        @media screen and (min-width: $w576) {
            padding-bottom: 55px;
        }
    }

    &__title {

        padding-bottom: 30px;

        & h1 {
            @include font-h1;
            margin: 0;

            @media screen and (max-width: $w480) {
                font-size: 20px;
            }
        }
    }

    &__breabcrumbs {
        padding-top: 16px;
    }

    &__requisites {
        & .contacts__item:last-child {
            padding-bottom: 20px;
        }
    }

    &__offers {
        padding-bottom: 30px;
    }

    &__mail {
        &-title {
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 28px;
        }

        &-form {
            & .form {
                & label {
                    font-size: 15px;
                    padding-bottom: 15px;
                    display: block;
                    width: 100%;


                }

                & .attach-file {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px 6px;

                    &__button {
                        width: auto;
                        padding-bottom: 0;
                    }
                }

                & input {
                    height: 56px;
                }

                & .btn {
                    width: 100%;
                    height: 54px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: involve;

                    @media screen and (min-width: $w576) {
                        max-width: 224px;

                    }
                }
            }
        }
    }

    & .input-material {
        border: 1px solid rgba(0, 0, 0, 0.12);

        &.err {
            border-color: #FC4646;
        }

        // @media screen and (min-width: $w1440) {
        &:not(.input-material--textarea) {
            height: 82px;

            & label {
                top: 30px;
            }

            & input {
                margin-top: 16px;
            }
        }


        //}
    }

    & .multi-mask {
        border: 1px solid rgba(0, 0, 0, 0.12);
        max-width: 100%;

        & .input-material {
            border: 1px solid transparent;
        }
    }

    & .input-material input:focus~label,
    & .input-material input[area-valid]~label,
    & .input-material textarea:focus~label,
    & .input-material textarea[area-valid=true]~label,
    & .input-material textarea[area-valid=false]~label {
        top: 8px;

    }


}



.attach-file {

    display: flex;
    align-items: center;

    & input {
        display: none;
    }

    & .btn-attach {
        padding: 2px 20px 4px 20px;
        border: 1px solid #eee;
        border-radius: 30px;
        margin-right: 10px;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 36px;
        cursor: pointer;
        border-color: #eee;
        color: #000;
        background: #eee;
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s ease;
        font-family: involve;

        &:hover {
            background-color: var(--accent);
            color: #fff;
            border: 1px solid var(--accent);
        }
    }

    & .text-attach {
        font-size: 15px;
        line-height: 140%;
    }

    &.is-loaded {
        & .text-attach {
            display: none;
        }
    }
}

@media screen and (max-width: $w1024) and (min-width: $w760) {
    .contacts__requisites {
        width: 50%;
        padding-right: 30px;
    }

    .contacts__item {
        width: 100% !important;
    }

    .contacts__offers {
        width: 50%;
    }

    .contacts__mail {
        width: 100%;
        padding-bottom: 40px;
    }
}

.file-attach {

    display: flex;
    align-items: center;

    max-width: 280px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0 4px 0 14px;


    &__name {
        max-width: calc(100% - 30px);
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
    }

    &__remove {
        width: 30px;
        height: 30px;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        transform: rotate(45deg);
        font-size: 26px;
        margin-top: -1px;
        position: relative;
        top: 1px;

        &:hover {
            color: var(--accent);
        }
    }
}

.contacts-item--question {
    & .contacts-item {
        &__title {
            padding-bottom: 20px;
        }
    }
}

.contacts-item {
    &__title {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 2em;

        @media screen and (min-width: $w480) {
            font-size: 18px;
        }


    }

    &__text {

        line-height: 170%;
        font-family: var(--font-montserrat);
        font-size: 15px;

        & a {
            &:hover {
                text-decoration: underline;
                max-width: 100%;
            }
        }

        & p {

            @media screen and (max-width: $w480) {
                margin: 20px 0;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    & .link-email {
        font-weight: 600;
        font-size: 15px;
        color: var(--accent);

        @media screen and (min-width: $w760) {
            font-size: 18px;
        }
    }

    & .copy-field {
        & svg {
            fill: var(--accent);
            width: 20px;
            height: 20px;
            margin-bottom: -4px;
        }
    }

}



.form__subitem.form__subitem--textarea label {
    padding-bottom: 5px;
}