.section-top-brands {
    padding: 36px 0;

    @media screen and (min-width: $w576) {
        padding: 50px 0;
    }

    @media screen and (min-width: $w760) {
        padding: 79px 0 62px 0;
    }


    @media screen and (min-width: $w992) {
        padding: 85px 0;
    }
}

.top-brands {

    @media screen and (min-width: $w992) {
        display: flex;
        align-items: center;
    }

    &__title {
        @include font-h2;
        padding-bottom: 24px;
        font-size: 23px;

        @media screen and (min-width: $w480) {
            padding-bottom: 12px;
        }

        @media screen and (min-width: $w760) {
            font-size: 27px;
        }

        @media screen and (min-width: $w992) {
            width: 360px;
            padding-bottom: 0;
            font-size: 30px;
        }

        & br {
            @media screen and (max-width: $w992) {
                display: none;
            }
        }
    }

    &__slider {
        & .bgimage {
            padding-top: 60%;
            @include bgimage-contain;
            opacity: 0.5;
            transition: 0.3s ease;
            filter: grayscale(1);

            &:hover {
                transform: scale(1.05);
                filter: grayscale(0);
                opacity: 1;
            }
        }

        @media screen and (min-width: $w992) {
            width: calc(100% - 360px);
            max-width: 1400px;
            margin-left: auto;
            padding: 0 40px;
        }

        & .splide {

            &__track {

                width: calc(100% - 50px);

                @media screen and (min-width: $w760) {
                    width: calc(100% - 100px);
                }

                @media screen and (min-width: $w992) {
                    width: auto;
                }


                margin: 0 auto;

            }

            &__arrow {
                &--prev {

                    left: -12px;

                    @media screen and (min-width: $w480) {
                        left: 0;

                    }

                    @media screen and (min-width: $w992) {
                        left: -70px;
                    }

                }

                &--next {

                    right: -12px;

                    @media screen and (min-width: $w480) {
                        right: 0;
                    }

                    @media screen and (min-width: $w992) {
                        right: -50px;
                    }

                }
            }
        }
    }
}