mixin top-brands
    section.section-top-brands

        .container
            .top-brands 
                .top-brands__title Спецодежда <br> ТОП брендов 
                .top-brands__slider
                    .splide(data-slider="header-brands")
                        .splide__track
                            .splide__list
                                each item in brands
                                    .splide__slide
                                        a(href='/brand.html'): +bgimage(item)