.section-top-catalog {
    overflow: visible;
    min-height: 62px;


    @media screen and (min-width: $w760) {
        display: flex;
        min-height: var(--hgt-topcatalog, 62px);
    }
}

@keyframes tofadeLeft {
    from {
        opacity: 0;
        transform: translate(-10px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}


.top-catalog {

    display: none;



    &.is-open {

        position: relative;
        z-index: 12;
        display: block;
        top: 24px;

        & .top-catalog {
            &__dropdown {
                display: flex;
            }

            &__all {

                color: var(--accent);

                & svg {
                    fill: var(--accent)
                }

            }
        }
    }

    &.is-fixed-open {
        & .top-catalog__dropdown {
            position: fixed;
            top: var(--hgt-header);
        }
    }

    &__other {

        width: 100%;
        bottom: 10px;
        padding: 24px 0;
        padding-left: 0px;
        padding-left: 20px;
        position: static;

        @media screen and (min-width: $w992) {
            position: absolute;
            left: 100%;
            width: calc(100vw - 400px);
            bottom: 10px;
            padding: 24px 0;
            padding-left: 20px;
        }
    }

    &__image {

        padding: 10px 20px 20px 40px;
        position: relative;
        order: 2;

        @media screen and (max-width: $w992) {
            margin-top: auto;
            padding-bottom: 150px;
            padding-top: 0;
        }

        @media screen and (min-width: $w992) {
            padding: 18px 20px 40px 40px;
            order: unset;
        }

        & picture {
            width: 270px;
            @include picture(140%, cover);
        }

        & picture {
            display: none;

            @media screen and (min-width: $w992) {
                display: block;
            }
        }
    }

    &__dropdown {
        position: absolute;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0px 29px 36px 0px rgba(0, 0, 0, 0.09);
        top: calc(100%);
        z-index: 5;
        display: none;
        border-top: 1px solid #eee;

        @media screen and (min-width: $w1376) {}
    }

    &__sub {
        width: calc(100% - 360px);
        overflow-y: auto;
        max-height: 70vh;

        @media screen and (min-width: $w1440) {
            width: calc(100% - 460px);
        }

        @media screen and (min-width: $w760) {
            padding-left: 30px;
        }
    }

    &__nav {
        width: 280px;
        min-width: 280px;
        animation: tofade 0.5s ease forwards;

        @media screen and (max-width: $w992) {
            &[data-topcat="level1"] {
                margin-top: -25px;
            }
        }


        &.level2 {
            @media screen and (min-width: $w992) {
                width: 190px;
            }

            & li {
                &>a {
                    font-family: var(--font-montserrat);
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }

        &:first-child {
            border-left: 0;
        }

        & ul {

            height: 100%;
            /*   max-height: 360px; */
            display: flex;
            flex-direction: column;
            max-width: 374px;
            // min-height: 370px;

            & li {
                font-size: 23px;
                padding: 16px 22px;
                display: flex;
                opacity: 0;
                animation: tofadeLeft 0.5s ease forwards;
                animation-delay: 0.5s;

                &:nth-child(1) {
                    animation-delay: 0.1s;
                }

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.3s;
                }

                &:nth-child(4) {
                    animation-delay: 0.4s;
                }


                &:hover {
                    background-color: #f5f5f5;
                    cursor: pointer;
                }


                &::after {
                    content: '';
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin-left: auto;
                    opacity: 0;
                    transform: translateX(-0.2em);
                    transition: 0.5s ease;

                    top: 0.1em;
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS40MjIuNjI2QS45LjkgMCAwMTEuNjk0LjY3bDYuMjIyIDYuNjY3YS45LjkgMCAwMTAgMS4yMjhsLTYuMjIyIDYuNjY3YS45LjkgMCAxMS0xLjMxNi0xLjIyOEw2LjAyNyA3Ljk1LjM3NyAxLjg5OEEuOS45IDAgMDEuNDIzLjYyNnoiIGZpbGw9IiMwMDkwQzMiLz48L3N2Zz4=);

                    @media screen and (max-width: $w992) {
                        display: none;
                    }
                }

                &.is-active {
                    &::after {
                        transform: translateX(0);
                        opacity: 1;

                    }
                }

                &.not-sub {
                    &::after {
                        background-image: none;

                    }
                }


                &:hover {
                    &::after {
                        filter: grayscale(0);
                    }

                    & a {
                        color: var(--accent);
                    }
                }

                & a {
                    display: block;
                    width: calc(100% - 30px);
                    font-weight: 500;
                }
            }
        }

        & .sub-level1 .sub-level2 {
            display: none;
        }

        & .sub-level2 .sub-level3 {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;

        &:not(.is-active) {
            display: none;
        }
    }

    &__cat {
        font-size: 26px;
        padding-bottom: 35px;
        word-wrap: break-word;
    }

    &__menu {
        flex-grow: 1;
        flex-basis: 260px;
        padding-right: 42px;
        opacity: 0;
        animation: tofadeLeft 0.4s ease forwards;
        animation-delay: 0.5s;
        padding-bottom: 30px;
        max-width: 100%;

        @media screen and (min-width: $w1440) {
            max-width: 25%;
        }

        @media screen and (min-width: $w992) {
            max-width: 33.33%;
        }

        @media screen and (min-width: 880px) {
            max-width: 50%;
        }

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.3s;
        }

        &:nth-child(4) {
            animation-delay: 0.4s;
        }
    }

    &__ul {

        max-width: 190px;


        & li {
            padding-bottom: 20px;
        }

        & a {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 110%;
            letter-spacing: 0.36px;
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }
        }
    }

    & .top-catalog-nav--bottom {
        @media screen and (min-width: $w992) {
            margin-top: auto;
        }

        & a {
            font-size: 18px;
        }
    }

    &__nav {
        background-color: #fff;
        padding: 24px 0;

        @media screen and (min-width: $w1440) {
            padding: 20px 0;

        }

        @media screen and (min-width: $w992) {
            padding-bottom: 70px !important;
        }
    }

    &__last {

        padding: 24px 0;
        flex-grow: 1;


        font-family: var(--font-montserrat);

        @media screen and (min-width: $w1440) {
            padding: 20px 27px;
        }

        @media screen and (max-width: $w992) {
            padding: 0px 0 28px 0;
        }

        @media screen and (min-width: $w992) {
            padding-bottom: 70px !important;
        }

        &:empty {
            display: none;
        }


        &>ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0 24px;



            &>li {


                opacity: 0;
                animation: tofadeLeft 0.5s ease forwards;
                animation-delay: 0.5s;
                padding-left: 16px;

                &:nth-child(1) {
                    animation-delay: 0.1s;
                }

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.3s;
                }

                &:nth-child(4) {
                    animation-delay: 0.4s;
                }

                &>a {
                    font-size: 20px;
                    padding: 16px 0;
                    display: block;

                    font-weight: 500;

                    &:hover {
                        color: var(--accent);
                    }

                }

                &.not-sub {
                    width: 100%;

                    & a {
                        text-decoration: none;
                        font-size: 18px;
                        padding: 16px 0 16px 16px;
                    }
                }

                &>ul {
                    & li {
                        padding: 12px 0;


                        & a {
                            font-size: 18px;
                            font-weight: 500;

                            &:hover {
                                color: var(--accent);
                            }
                        }
                    }
                }


            }
        }
    }

    &__mobile-top {
        display: none;
    }

    &.is-mobile.is-open {

        margin-right: 0;
        padding-right: 16px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #00000075;

        & .top-catalog {
            &__nav {

                padding: 0;
                width: 100%;
                height: 100%;
                animation: none;

                &[data-topcat=level1] {
                    height: auto;
                }

                & ul {
                    width: 100%;
                    max-width: 100%;

                    @media screen and (max-width: $w992) {
                        padding: 0px 0px 34px 38px;
                    }

                    & li {
                        animation: none;
                        opacity: 1;
                    }
                }

                &.level2 {
                    display: none;
                }
            }

            &__last {
                display: none;
            }

            &__dropdown {
                top: 100px;
                height: calc((var(--vh, 1vh) * 100));
                overflow-y: auto;
                flex-direction: column;
                border-radius: 22px 22px 0 0;
            }

            &__back {
                font-size: 23px;
                font-weight: 500;
                display: none;
                padding-left: 36px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjgwNiAxNC41MjJMLjQ0MiA4LjE1OGExIDEgMCAwMTAtMS40MTRMNi44MDYuMzhBMSAxIDAgMTE4LjIyIDEuNzk0TDMuNTY0IDYuNDUxSDE4LjA2djJIMy41NjRsNC42NTYgNC42NTdhMSAxIDAgMTEtMS40MTQgMS40MTR6IiBmaWxsPSIjMDA5MEMzIi8+PC9zdmc+);
                background-position: left center;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                cursor: pointer;

                &.is-start {
                    background-image: none;
                    padding-left: 0 !important;
                    pointer-events: none;
                    background-position: 4px 6px;
                    padding-left: 32px;
                    font-size: 16px;
                    font-weight: 600;
                    opacity: 0;
                }

            }

            &__close {
                margin-left: auto;
                width: 18px;
                height: 18px;
                @include bgimage-contain;
                background-size: 16px;
                opacity: 0.4;
                cursor: pointer;

                opacity: 0.4;
                cursor: pointer;
                transform: rotate(45deg);
                opacity: 1;
                filter: grayscale(1);

                &:hover {
                    opacity: 1;
                }
            }

            &__list,
            &__all {
                display: none;
            }

            &__mobile-top {
                display: flex;
                justify-content: space-between;
                width: 100%;
                background-color: #fff;
                // border-bottom: 1px solid #e0e0e0

                padding: 30px 22px 13px 22px;
            }
        }

        & .animation-hide-pane {
            display: none;
        }

        @keyframes fadeMaxRight {
            from {
                transform: translateX(100%);
            }

            to {
                transform: translateX(0);
            }
        }

        @keyframes fadeMaxLeft {
            from {
                transform: translateX(-100%);
            }

            to {
                transform: translateX(0);
            }
        }

        & .animation-show-pane--next {
            animation: fadeMaxRight 0.4s ease forwards;
        }

        & .animation-show-pane {
            display: block !important;
            opacity: 1;
        }

        & .animation-show-pane.animation-show-pane--back {
            animation: fadeMaxLeft 0.4s ease forwards;

        }

        & .sub-level3 {
            flex-direction: column;

            &>li {
                padding-left: 40px;

                @media screen and (min-width: $w992) {
                    padding-left: 24px;
                }

            }
        }
    }




}

.catalog-other {

    display: flex;
    gap: 19px 48px;
    flex-direction: column;

    @media screen and (min-width: $w992) {
        flex-direction: row;
        align-items: center;
    }

    & a {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: var(--font-montserrat);
        font-weight: 500;

        & svg {
            margin-right: 12px;
            width: 20px;
            height: 20px;
        }

        &:hover {
            color: var(--accent);
        }
    }
}


/******************************************************************
Выпадающее меню
******************************************************************/


.top-catalog__nav ul li {

    border-radius: 8px;
}


.header-professions[data-header-popup="brands"] .bgimage {
    background-size: 70%;
}