 .table-sizes {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: calc((var(--vh, 1vh) * 100));
     background-color: #000;
     z-index: 100;
     display: none;

     &.is-open {
         display: block;

         @keyframes fade-in-main-table {
             to {
                 opacity: 1;
             }
         }

         @keyframes fade-in-window-table {
             to {
                 opacity: 1;
                 transform: translateX(0);
             }
         }

         & .table-sizes {
             &__main {
                 animation: fade-in-main-table 0.95s ease forwards;
             }

             &__window {
                 animation: fade-in-window-table 0.45s ease forwards;
             }

         }

     }

     &.is-animate-close {
         opacity: 0;
         transition: 0.4s ease;
     }

     &__label {
         font-size: 24px;
         text-align: center;
         font-weight: 500;
         padding-bottom: 32px;
     }

     &__wrp {

         display: flex;
         flex-direction: column;
         height: 100%;

         @media screen and (min-width: $w760) {
             display: flex;
             flex-direction: row;
         }
     }

     &__window {
         background-color: #fff;
         position: relative;
         margin-top: auto;
         border-radius: 30px 30px 0 0;

         @media screen and (min-width: $w576) {
             border-radius: 0;
         }

         @media screen and (min-width: $w760) {
             height: auto;
             margin-top: 0;
         }

         @media screen and (min-width: $w1200) {
             width: 30%;
         }

         @media screen and (min-width: $w760) {
             width: 40%;
         }

         @media screen and (min-width: $w1200) {
             opacity: 0;
             transform: translateX(100%);
         }
     }

     &__main {

         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         color: #fff;
         transition: 0.3s ease;
         opacity: 0;


         @media screen and (min-width: $w1200) {
             width: 70%;
         }

         @media screen and (min-width: $w760) {
             width: 60%;
         }

     }

     &__slider {
         min-height: 40vh;
         display: none;

         flex-direction: column;
         justify-content: center;

         @media screen and (min-width: $w760) {
             min-height: 100vh;
             display: flex;
         }

     }

     &__video {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         min-height: calc((var(--vh, 1vh) * 40));

         @media screen and (min-width: $w760) {
             min-height: 100vh;
             justify-content: center;
         }

         & h3 {
             text-align: center;
             padding: 24px 0 0 0;
             font-weight: 500;
             max-width: 920px;
             width: 100%;
             text-align: left;
             margin: 0 auto;
             padding-left: 16px;
             padding-right: 16px;
             padding-bottom: 24px;
             font-size: 15px;

             @media screen and (min-width: $w576) {
                 font-size: 20px;
             }

             @media screen and (min-width: $w760) {
                 padding-left: 0px;
                 padding-right: 0px;
                 padding-bottom: 0;

             }
         }
     }

     &__popup {
         padding: 24px 16px 16px 16px;

         @media screen and (min-width: $w760) {
             padding: 36px;
         }
     }

     &__title {
         text-align: center;
         font-size: 14px;
         font-weight: bold;
         padding-bottom: 35px;

         @media screen and (min-width: $w576) {
             padding-bottom: 40px;
         }
     }

     &__button {
         display: none;

         @media screen and (min-width: $w760) {
             display: flex;
             justify-content: center;
         }

         & a {
             border-radius: 50%;
         }

     }

     &__close {
         width: 30px;
         height: 30px;
         border: 1px solid var(--accent);
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50px;
         cursor: pointer;
         position: absolute;
         top: 20px;
         right: 20px;

         @media screen and (min-width: $w576) {
             top: 30px;
             right: 30px;
         }

         & svg {
             width: 18px;
             height: 18px;
             fill: var(--accent);
             transition: 0.3s ease;
         }

         &:hover {
             & svg {
                 transform: rotate(90deg);
             }
         }
     }

     &__table {


         text-align: center;
         height: calc((var(--vh, 1vh) * 100) - (100vw*0.56) - (var(--vh, 1vh) * 22) - 24px);
         overflow-y: auto;
         overflow-x: auto;
         margin-bottom: 16px;


         @media screen and (min-width: $w760) {
             margin-bottom: 40px;
         }

         @media screen and (min-width: $w760) {
             height: calc((var(--vh, 1vh) * 100) - 240px);
         }

         & table {

             font-weight: 500;
             font-weight: 500;
             width: 100%;
             table-layout: fixed;
             border-collapse: collapse;
             font-size: 14px;

             & th {
                 font-weight: 500;
                 text-align: center;
                 font-size: 13px;
                 line-height: 120%;
                 padding: 12px 8px;

                 @media screen and (min-width: $w576) {
                     font-size: 14px;
                 }

                 &:nth-child(1) {
                     text-align: left;
                 }

                 & span {
                     color: #666;
                     display: block;
                 }
             }

             & td {
                 border-top: 1px solid rgba(0, 0, 0, 0.12);
                 padding: 12px 8px;
                 color: #2F3030;
                 text-align: center;
                 transition: 0.3s ease;

                 &:nth-child(1) {
                     text-align: left;
                 }

                 &:nth-child(1),
                 &:nth-child(2) {
                     font-weight: 600;
                 }

             }

             & tr {

                 &:hover {
                     & td {
                         background-color: rgba(0, 0, 0, 0.03);
                     }
                 }

                 &:last-child {
                     & td {
                         border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                     }
                 }
             }
         }
     }



     &__arr-up svg {
         transform: rotate(180deg);
     }

     &__arr-up,
     &__arr {
         display: flex;
         justify-content: center;
         padding: 30px 0;
         cursor: pointer;

         & svg {
             width: 31px;
             height: 31px;
             fill: #fff;

             &:hover {
                 fill: var(--accent);
             }
         }
     }

     &__arr-up {

         display: none;

         @media screen and (min-width: $w760) {
             display: flex;
         }
     }

     & .yt-video {
         max-width: 920px;
         background-color: #333;
         width: 100%;

         @media screen and (min-width: $w576) {
             border-radius: 8px;
         }

         &__button {
             @media screen and (max-width: $w480) {
                 width: 28px;
                 height: 28px;
             }
         }
     }



     .yt-video.is-play .yt-video__preview {
         opacity: 0;
     }

     & .card-img-caption {
         width: 310px;

         @media screen and (min-width: $w1440) {
             width: 400px;
         }
     }

     & .card-img-caption {
         &__picture {
             & picture {
                 padding-top: 150%;
                 background-color: #333;
                 overflow: hidden;
                 border-radius: 8px;
             }

             & img {
                 border-radius: 8px;
             }
         }

         &__caption span {
             padding-left: 0;
             line-height: 160%;

         }

         &:hover {
             & .card-img-caption {
                 &__caption span {
                     color: var(--accent);
                 }
             }
         }
     }
 }