.section-home-faq--noform {
    padding: 40px 0 0;

    @media screen and (min-width: $w576) {
        padding: 40px 0;
    }

    & .home-faq {
        &__title {
            font-size: 18px;

            @media screen and (min-width: $w991) {
                font-size: 27px;
            }
        }

        &__left {
            @media screen and (min-width: $w1200) {
                width: 47%;
                margin-right: auto;
            }
        }

        &__right {
            @media screen and (min-width: $w1200) {
                margin-right: 10%;
            }
        }
    }

    & .faq-item {
        @media screen and (min-width: $w1200) {
            padding: 15px 0;
        }
    }


}

.home-faq {

    @media screen and (min-width: $w992) {
        display: flex;
        gap: 12px;
    }

    &__left {
        @media screen and (min-width: $w992) {
            width: 67%
        }
    }

    &__right {
        @media screen and (min-width: $w992) {
            width: calc(33% - 12px)
        }

        @media screen and (max-width: $w992) {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    &__title {
        @include font-h2;
        padding-bottom: 24px;
    }

    &__h2 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 24px;

        @media screen and (min-width: $w1200) {
            font-size: 24px;
        }
    }

    &__desc {
        padding-bottom: 26px;
        font-family: var(--font-montserrat);
        font-size: 14px;

        @media screen and (min-width: $w760) {
            text-align: center;
        }

        @media screen and (min-width: $w992) {
            text-align: left;
        }
    }

    &__form {
        background-color: rgba(0, 0, 0, 0.04);
        max-width: 440px;
        padding: 36px;
        border-radius: 8px;

        @media screen and (min-width: $w576) {
            padding: 56px;
        }

        @media screen and (max-width: $w992) {
            background-color: transparent;
            margin: 30px auto;
        }

        & .home-faq__title {
            padding-bottom: 30px;


            @media screen and (min-width: $w760) {
                text-align: center;
            }

            @media screen and (min-width: $w992) {
                text-align: left;
            }
        }

        & .btn {
            width: 100%;
        }
    }

    & .faq {
        max-width: 1050px;

        &__item {
            border-bottom: 1px solid #cdcdcd;
        }

    }

    & .company-tile {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 12px;

        &__item {
            width: 100%;


            @media screen and (min-width: $w576) {
                width: calc(50% - 12px);
                max-width: 293px;
            }
        }


        @media screen and (max-width: $w576) {
            &__wrp {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                min-height: 86px;
            }

            &__arrow {
                margin: 0;
            }

            &__bottom {
                display: flex;
                align-items: center;
                flex-grow: 1;
            }

            &__text {
                margin: 0 auto;
            }
        }



        .company-tile__icon .bgimage {
            width: 40px;
            height: 40px;
        }
    }
}

.section-home-faq--noform .home-faq__right {
    background-color: transparent;
    padding: 24px 0;

    @media screen and (min-width: $w1200) {
        padding-top: 0;
    }


}