include ../../components/faq/faq.pug
include ../../modules/company-about/company-about.pug

mixin home-faq
    section.section-home-faq
        .container
            .home-faq
                .home-faq__left
                    .home-faq__title Отвечаем на частые <br> вопросы
                    .home-faq__list
                        +faq([
                            {
                                'title':'Как выбрать материал спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Как проверить качество спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Какие стандарты безопасности следует учитывать при выборе спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Может ли спецодежда быть комфортной?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Как выбрать правильный размер спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                        ])

                .home-faq__right
                    .home-faq__form
                        .home-faq__title Связаться с нами
                        .home-faq__desc Текстовое описание
                        .home-faq__fields
                            form(action='#' method='POST')
                                .form
                                    .form__item
                                        .form__subitem
                                            .input-material
                                                input(type='text' data-input-mask='name' max-length="60")
                                                label= 'ФИО' 
                                            
                                        
                                    .form__item
                                        .form__subitem
                                            .input-material
                                                input(type='email' data-input-mask='email' max-length="60")
                                                label= 'Email'
                                            
                                    .form__item
                                        .form__subitem
                                            .multi-mask
                                                .input-material
                                                    input(type='text' max-length="60" required)
                                                    label= 'Контактный телефон'
                                        
                                    .form__item
                                        .form__subitem
                                            .input-material.input-material--textarea
                                                textarea(placeholder="" max-length="600" )
                                                label= 'Сообщение'
                                    .form__item
                                        .form__subitem
                                            button.btn(type="submit") Отправить

 
 

mixin home-faq--noform
    section.section-home-faq.section-home-faq--noform
        .container
            .home-faq
                .home-faq__left
                    .home-faq__title Информация
                    .home-faq__list
                        +faq([
                            {
                                'title':'Доставка и примерка',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Как сделать возврат',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                          
                        ])

                .home-faq__right

                    .home-faq__h2 Консультация 

                    .company-tile
                        div.company-tile__item(data-popup="ajax" data-url="/parts/_popup-live.html")
                            .company-tile__wrp
                                .company-tile__icon
                                    +bgimage('/img/icons/ic_live.svg')
                                .company-tile__bottom
                                    .company-tile__text Онлайн показ
                                    .company-tile__arrow
                                        +icons('#ic_arr-right', 40)
                        div.company-tile__item(data-popup="ajax" data-url="/parts/_popup-callback.html")
                            .company-tile__wrp
                                .company-tile__icon
                                    +bgimage('/img/icons/ic_call.svg')
                                .company-tile__bottom
                                    .company-tile__text Связаться с нами
                                    .company-tile__arrow
                                        +icons('#ic_arr-right', 40)