.home-faq {

    @media screen and (min-width: $w992) {
        display: flex;
        gap: 12px;
    }

    &__left {
        @media screen and (min-width: $w992) {
            width: 67%
        }
    }

    &__right {
        @media screen and (min-width: $w992) {
            width: calc(33% - 12px)
        }

        @media screen and (max-width: $w992) {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    &__title {
        @include font-h2;
        padding-bottom: 24px;
    }

    &__desc {
        padding-bottom: 26px;
        font-family: var(--font-montserrat);
        font-size: 14px;

        @media screen and (min-width: $w760) {
            text-align: center;
        }

        @media screen and (min-width: $w992) {
            text-align: left;
        }
    }

    &__form {
        background-color: rgba(0, 0, 0, 0.04);
        max-width: 440px;
        padding: 36px;
        border-radius: 8px;

        @media screen and (min-width: $w576) {
            padding: 56px;
        }

        @media screen and (max-width: $w992) {
            background-color: transparent;
            margin: 30px auto;
        }

        & .home-faq__title {
            padding-bottom: 30px;


            @media screen and (min-width: $w760) {
                text-align: center;
            }

            @media screen and (min-width: $w992) {
                text-align: left;
            }
        }

        & .btn {
            width: 100%;
        }
    }

    & .faq {
        max-width: 1050px;

        &__item {
            border-bottom: 1px solid #cdcdcd;
        }

    }
}