include ../../components/faq/faq.pug

mixin home-faq
    section.section-home-faq
        .container
            .home-faq
                .home-faq__left
                    .home-faq__title Отвечаем на частые <br> вопросы
                    .home-faq__list
                        +faq([
                            {
                                'title':'Как выбрать материал спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Как проверить качество спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Какие стандарты безопасности следует учитывать при выборе спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Может ли спецодежда быть комфортной?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                            {
                                'title':'Как выбрать правильный размер спецодежды?',
                                'answer':'Выбор материала спецодежды зависит от условий работы и требований безопасности. Некоторые распространенные материалы включают хлопок, полиэстер, нейлон, арамидные волокна и другие. Рекомендуется выбирать материалы, которые обеспечивают нужную защиту в соответствии с требованиями и предпочтениями.'
                            },
                        ])

                .home-faq__right
                    .home-faq__form
                        .home-faq__title Связаться с нами
                        .home-faq__desc Текстовое описание
                        .home-faq__fields
                            .form
                                .form__item
                                    .form__subitem: input(type="text" placeholder="ФИО")
                                .form__item
                                    .form__subitem: input(type="text" placeholder="Email")
                                .form__item
                                    .form__subitem: input(type="text" placeholder="Контактный телефон")
                                .form__item
                                    .form__subitem
                                        textarea(placeholder="Сообщение")
                                .form__item
                                    .form__subitem
                                        button.btn(type="submit") Отправить