extends layouts/main

block variables
  include ../data/data.pug
  - const title = "AG - Technologies"
 

block main

  include ../blocks/modules/main-banner/main-banner
  include ../blocks/modules/top-brands/top-brands
  include ../blocks/modules/tile-catalog/tile-catalog
  include ../blocks/modules/banner-small/banner-small
  include ../blocks/modules/product-slider/product-slider
  include ../blocks/modules/company-about/company-about
  include ../blocks/modules/stores-slider/stores-slider
  include ../blocks/modules/reviews-slider/reviews-slider
  include ../blocks/modules/tile-promo/tile-promo
  include ../blocks/modules/video-slider/video-slider
  include ../blocks/modules/home-faq/home-faq
  include ../blocks/modules/news-slider/news-slider
    
  +main-banner
  +top-brands
  +tile-catalog
  +banner-small
  +product-slider({title: 'Хиты'})
  +company-about
  +stores-slider
  +reviews-slider
  +tile-promo
  +video-slider
  +home-faq
  +news-slider

  include pages/parts/_table-sizes.pug
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 