.section-company-about {
    padding: 40px 0;

    @media screen and (min-width: $w576) {
        padding: 52px 0;
    }

    @media screen and (min-width: $w992) {
        padding: 75px 0;
    }
}

.company-about {

    position: relative;

    @media screen and (min-width: $w992) {
        display: flex;
        gap: 12px;
    }

    &__left {
        @media screen and (min-width: $w992) {
            width: 33%;
        }
    }

    &__right {
        @media screen and (min-width: $w992) {
            width: calc(66% - 96px);
            margin-left: auto;
        }
    }

    &__image {
        @media screen and (min-width: $w992) {
            position: absolute;
            left: 0;
            top: 0;
            width: 33%;
        }

        & picture {
            @include picture(120%, cover);
            border-radius: 8px;
            overflow: hidden;

            @media screen and (min-width: $w1440) {
                padding-top: 128%;
            }
        }
    }

    &__logo {

        padding-bottom: 45px;

        & .bgimage {
            display: block;
            height: 73px;
            width: 284px;
            @include bgimage-contain;
        }
    }

    &__title {
        padding-bottom: 34px;
        font-size: 17px;
        font-weight: 600;

        @media screen and (min-width: $w992) {
            font-size: 24px;
            padding-bottom: 40px;
        }
    }

    &__desc {
        max-width: 745px;
        font-size: 15px;
        padding-bottom: 0px;

        line-height: 157%;

        @media screen and (min-width: $w480) {
            padding-bottom: 50px;
        }
    }

    &__tile {
        padding: 33px 0;

        @media screen and (min-width: $w992) {
            padding: 40px 0;
        }
    }

    &__digits {



        @media screen and (min-width: $w760) {
            padding-top: 36px;
        }

        @media screen and (min-width: $w992) {
            padding-top: 55px;

        }

        @media screen and (min-width: $w760) {
            padding-top: 43px;
        }
    }

    &__top {

        @media screen and (max-width: $w760) {
            flex-direction: column-reverse;
            display: flex;

            & .company-about {
                &__image {
                    padding-bottom: 50px;

                    & picture {
                        padding-top: 100%;
                    }
                }
            }
        }

        @media screen and (min-width: $w760) and (max-width: $w992) {
            display: flex;
            gap: 36px;

            & .company-about {
                &__main {
                    width: 50%;
                }

                &__image {
                    width: 50%;
                    max-width: 240px;
                    margin-left: auto;

                    & picture {
                        padding-top: 139%;
                    }

                }
            }

        }
    }

}

.company-tile {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 12px;

    @media screen and (min-width: $w760) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__wrp {
        height: 100%;
        min-height: 120px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: $w576) {
            padding: 26px;
        }

        @media screen and (min-width: $w480) {
            min-height: 184px;
        }
    }

    &__qr {
        & .bgimage {
            width: 80px;
            height: 80px;
            display: inline-block;
            @include bgimage-contain;
        }
    }

    &__icon {
        & .bgimage {
            width: 32px;
            height: 32px;
            display: inline-block;
            @include bgimage-contain;
        }
    }

    &__item {
        background-color: #F2F6F9;
        border-radius: 8px;
        transition: 0.3s ease;

        &--min {

            & .company-tile {
                &__text {
                    @media screen and (max-width: $w480) {
                        font-size: 12px;
                    }
                }
            }
        }

        &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;

            @media screen and (min-width: $w760) {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }

        &:hover {
            background-color: var(--accent);
            color: #fff;

            & svg {
                fill: #fff;
            }

            & .company-tile__icon .bgimage {
                filter: invert(100%) brightness(8000);
            }
        }

    }

    &__text {
        font-size: 17px;
        font-weight: 600;
        line-height: 100%;



    }

    &__arrow {
        display: flex;
        align-items: flex-end;
        margin-right: -24px;
        margin-bottom: -10px;

        & svg {
            width: 32px;
            height: 32px;
            fill: var(--accent);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.company-digits {

    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 12px;
    color: #2F3030;

    @media screen and (min-width: $w760) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__col {



        &:nth-child(3) {

            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
            background-color: #F2F6F9;
            border-radius: 8px;
            text-align: center;
            margin-top: 30px;
            padding: 0 16px;

            @media screen and (min-width: $w760) {
                text-align: left;
            }

            & p {
                @media screen and (min-width: $w992) {
                    font-size: 16px;
                    margin: 24px 0;
                }
            }

            @media screen and (min-width: $w760) {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
                background-color: transparent;
                text-align: left;
                margin-top: 0;
            }

            & p {
                font-size: 16px;
                margin: 24px 0;

                @media screen and (min-width: $w760) {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

        }


    }

    &__item {

        text-align: center;
        display: flex;
        flex-direction: column;


        @media screen and (min-width: $w760) {
            display: inline-flex;
        }





        & div {
            font-size: 18px;
            font-weight: 600;
            min-height: 1em;
        }

        & span {

            display: block;
            font-size: 46px;
            font-weight: 600;
            line-height: 100%;
            padding-bottom: 15px;
            padding-top: 15px;

            @media screen and (min-width: $w576) {
                font-size: 119px;
                padding-top: 0;
                padding-bottom: 5px;
            }
        }
    }
}

.tile-lg-about {

    padding: 20px;
    position: relative;

    @media screen and (min-width: $w760) {
        padding: 40px;
    }


    &__icon {
        & .bgimage {
            width: 40px;
            height: 40px;
            display: inline-block;
            @include bgimage-contain;
        }
    }

    &__title {
        font-size: 17px;
        font-weight: 600;
        line-height: 100%;
    }

    &__arrow {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 23px;
        bottom: 22px;

        & svg {
            width: 40px;
            height: 40px;
            fill: var(--accent);
        }
    }

    &__image {
        margin-top: -40px;
        margin-bottom: -40px;
        max-width: 165px;
        margin-left: auto;

        @media screen and (min-width: $w576) {
            max-width: 264px;
        }

        & picture {
            @include picture(116%, contain);

            @media screen and (min-width: $w992) {
                padding-top: 121%;
            }
        }
    }

}

/******************************************************************
AGT восококлассный...
******************************************************************/
.company-about__logo {
    padding-bottom: 30px;
}


.company-about__desc {

    font-size: 15px;

    line-height: 170%;

    font-weight: 400;
    font-family: 'Montserrat';
}

.company-tile__text,
.tile-lg-about__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 107%;
}

@media screen and (max-width: 992.98px) {

    .company-tile__text,
    .tile-lg-about__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 107%;
    }

    .company-digits {

        padding: 40px 0px 0px 0px;
    }

    .company-digits__item span {
        font-size: 80px;
    }

    .stores-slider__address {
        font-size: 18px;
        font-weight: 500;
    }

    .stores-slider__left {
        padding-bottom: 0px;
    }

    .stores-slider {
        padding-bottom: 30px;
    }

    .home-faq__list {
        padding-bottom: 40px;
    }

}



.company-tile__item:hover {
    background-color: var(--accent-hover);
}


@media screen and (min-width: 992.98px) {
    .company-about__title {
        font-size: 22px;
        padding-bottom: 27px;
    }
}


@media screen and (min-width: 992.98px) {
    .company-digits__col:nth-child(3) p {
        font-size: 18px;
        margin: 24px 0;

    }
}

@media screen and (min-width: 767px) {
    .company-digits__col:nth-child(3) p {

        font-weight: 500;
    }
}