mixin tag-collections

    .tag-collections
        .container
            .tag-collections__title Рекомендуем подборки: 
            .tag-collections__list
                ul
                    li: a(href='#') Летняя спецодежда
                    li: a(href='#') Зимняя спецодежда
                    li: a(href='#') Женская спецодежда
                    li: a(href='#') Сигнальная спецодежда
                    li: a(href='#') Специализированная спецодежда
                    li: a(href='#') Городская серия
                    li: a(href='#') Летняя спецодежда
                    li: a(href='#') Зимняя спецодежда
                    li: a(href='#') Женская спецодежда
                    li: a(href='#') Сигнальная спецодежда
                    li: a(href='#') Специализированная спецодежда
                 
                     
                .tag-collections__more(data-isopen="tag-collections"): span Eще...

mixin tag-collections--nocontainer

    .tag-collections
        .tag-collections__list
            ul
                li: a(href='#') Летняя спецодежда
                li: a(href='#') Зимняя спецодежда
                li: a(href='#') Женская спецодежда
                li: a(href='#') Сигнальная спецодежда
                li: a(href='#') Специализированная спецодежда
                li: a(href='#') Городская серия
                li: a(href='#') Летняя спецодежда
                li: a(href='#') Зимняя спецодежда
                li: a(href='#') Женская спецодежда
                li: a(href='#') Сигнальная спецодежда
                li: a(href='#') Специализированная спецодежда
                li: a(href='#') Летняя спецодежда
                li: a(href='#') Зимняя спецодежда
                li: a(href='#') Женская спецодежда
                li: a(href='#') Сигнальная спецодежда
                li: a(href='#') Специализированная спецодежда
                li: a(href='#') Городская серия
                li: a(href='#') Летняя спецодежда
                li: a(href='#') Зимняя спецодежда
                li: a(href='#') Женская спецодежда
                li: a(href='#') Сигнальная спецодежда
                li: a(href='#') Специализированная спецодежда
                    
                .tag-collections__more.show-more-tag(data-isopen="tag-collections"): span Eще...