mixin tag-collections

    .tag-collections
        .container
            .tag-collections__title Рекомендуем подборки: 
            .tag-collections__list
                ul
                    li: a(href='#') Зимние комплекты 
                    li: a(href='#') Летние комплекты
                    li: a(href='#') Флисовые толстовки
                    li: a(href='#') Демисезонные куртки
                    li: a(href='#') Ветровки
                    li: a(href='#') Софтшелл
                    li: a(href='#') Зимние комплекты 
                    li: a(href='#') Летние комплекты
                    li: a(href='#') Флисовые толстовки
                    li: a(href='#') Демисезонные куртки
                    li: a(href='#') Ветровки
                    
                     
                .tag-collections__more(data-isopen="tag-collections"): span Eще...

mixin tag-collections--nocontainer

    .tag-collections
        .tag-collections__list
            ul
                li: a(href='#') Зимние комплекты 
                li: a(href='#') Летние комплекты
                li: a(href='#') Флисовые толстовки
                li: a(href='#') Демисезонные куртки
                li: a(href='#') Ветровки
                li: a(href='#') Софтшелл
                li: a(href='#') Зимние комплекты 
                li: a(href='#') Летние комплекты
                li: a(href='#') Флисовые толстовки
                li: a(href='#') Демисезонные куртки
                li: a(href='#') Ветровки
                    
            .tag-collections__more(data-isopen="tag-collections"): span Eще...