mixin thanks-page
    section.section-thanks-page
        .container
            .thanks-page
                .thanks-page__image
                    <svg  class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                .thanks-page__title: h2 Ваш заказ №679 оформлен!
                 
                .thanks-page__desc
                    p Отследить статус заказа и посмотреть <br> подробности можно в <a href="/profile.html" >личной кабинете</a>


                

