mixin one-article
    section.section-one-article 
        .container
            .one-article
                .one-article__row
                    .one-article__image
                        a(href='#')
                            +picture('/img/other/one-article')
                    .one-article__main
                        .one-article__title Что нужно знать о спецодежде
                        .one-article__desc
                            span Самая знаменитая спецодежда, которая буквально завоевала мир - это джинсы. <br>
                                | Когда их только изобрели, джинсы были грубой кробой» из ткани саржевого плетения, предназначавшийся для работникое тяжелой промышленности в ряде стран. Именно они и распространили рабочую одежду на Европы в Америку, где она получила свое дальнейшее развитие. <br> Если вам нужна рабочая форния, которая будет отвечать всем ващим требованиям и международным стандартам качества, будет сертифицирована под разные отрасли и произведена по ГОСТу -то продукция компании «ФОРМГОСТ» - именно то, что вам нужно! Вы можете оформить покупку в и интернет-магазине, посетить шоу-рум
                        .one-article__link
                            a(href='#') Читать подробнее
                        .one-article__tags
                            ul
                                li: a(href='#') #Городская серия
                                li: a(href='#') #Зимняя спецодежда
                                li: a(href='#') #Городская серия 