mixin sp-head
    .sp-head 
        .sp-head__back: a(href='#'): +icons('#ic_arr-left')
        .sp-head__title
            h1 Зимний сигнальный огнестойкий анстистатический полукомбинезон Brodeks, mw18-05, желтый/черный
            span Модель KW603
        
        .sp-head__details
            .sp-head__price 7200p
            .sp-head__oldprice 9300p
            .sp-head__sale: span 12%
            .sp-head__action
                .sp-head__ic
                    span: +icons('#ic_compare')
                    span: +icons('#ic_heart')
                    span: +icons('#ic_share')

mixin sp-gallery
    .sp-gallery
        .sp-gallery sp-gallery

mixin sp-details
    .sp-details
        .sp-details sp-details

mixin sp-advantages
    .sp-advantages
        .sp-advantages sp-advantages

mixin sp-online
    .sp-online
        .sp-online sp-online

mixin sp-accordion
    .sp-accordion
        .sp-accordion sp-accordion

mixin sp-video
    .sp-video
        .sp-video sp-video

mixin sp-set
    .sp-set
        .sp-set sp-set