include ../../components/breadcrumb/breadcrumb.pug
include ../../components/video/video.pug
include parts.pug

mixin single-product
    section.section-single-product

        script(type="application/ld+json")
            include microdata.js
    
        .container
            .single-product
                .single-product__top
                    .single-product__back: a(href='#'): +icons('#ic_arr-left')
                    .single-product__breadcrumbs
                        +breadcrumb([
                            'AGT',
                            'Каталог',
                            'Зимний сигнальный огнестойкий',
                        ])

                .single-product__head
                    +sp-head

                .single-product__main
                    .single-product__gallery
                        +sp-gallery
                        .single-product__advantages: +sp-advantages
                        
                .single-product__details
                        +sp-details    

                .single-product__left
                    .single-product__online: +sp-online
                    .single-product__video-mobile
                        .sp-video-m__media
                            .sp-video-m__preview
                                +picture('/img/other/preview-video')
                            .sp-video-m__play
                                +icons('#ic_play', 36)
                    .single-product__accordion: +text-accordion
                    .single-product__video: +sp-video                      
                    .single-product__set: +sp-set

