.single-product {

    display: flex;
    flex-direction: column;

    &__top {
        order: 1;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    &__breadcrumbs {
        width: calc(100% - 45px);
        margin-left: 10px;
    }

    &__head {
        order: 3;

        @media screen and (min-width: $w992) {
            order: unset;
        }
    }

    &__main {
        order: 2;

        @media screen and (min-width: $w992) {
            order: unset;
        }
    }

    &__details {
        order: 4;
    }

    &__left {
        order: 4;
    }

    &__details {
        padding-top: 25px;
        padding-bottom: 40px;
    }

    &__online {
        @media screen and (max-width: $w1200) {
            display: none;
        }
    }

    &__back {
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--accent);
            width: 36px;
            height: 36px;
            border-radius: 50%;

            & svg {
                width: 35px;
                height: 35px;
                fill: var(--accent);
                margin-top: -1px;
            }
        }
    }

    &__advantages {
        padding-top: 19px;
    }

    &__video-mobile {
        padding-bottom: 30px;
    }

    &__set {
        margin: 30px 0;
    }
}

.sp-lines {

    & .splide {
        &:not(.is-initialized) {

            height: 100%;

            visibility: visible;

            & .splide {
                &__list {
                    width: 100%;
                }

                &__slide {
                    background: #eee;
                    margin-right: 20px;
                }
            }

        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        padding-top: 20px;

        &>div {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eee;
            margin-right: 15px;
            cursor: pointer;

            & svg {
                fill: var(--black);
            }

            &:hover {
                background-color: var(--black);

                & svg {
                    fill: #fff;
                }
            }
        }
    }

    & .card-img-caption {

        width: 220px;

        @media screen and (min-width: $w760) {
            width: 300px;
        }

        @media screen and (min-width: $w992) {
            width: 320px;
        }


        @media screen and (min-width: $w1440) {
            width: 356px;
        }
    }

}

.text-accordion {

    &__all {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;

        & span {
            text-decoration: underline;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__item {

        border-top: 1px solid #eee;
        transition: padding 0.3s ease;

        &:not(.is-open) {
            & .text-accordion {
                &__text {
                    height: 0 !important;
                }
            }
        }

        &.is-open {

            padding-bottom: 20px;

            @media screen and (min-width: $w760) {
                padding-bottom: 60px;
            }

            & .text-accordion {

                &__label {
                    &::after {
                        transform: rotate(180deg);
                    }
                }

                &__text {
                    & .text-height {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__label {
        font-size: 18px;
        font-weight: 600;
        line-height: 107%;
        padding: 16px 0;
        padding-right: 30px;
        position: relative;
        cursor: pointer;

        @media screen and (min-width: $w576) {
            font-size: 18px;
            padding: 22px 0;
        }

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE1LjIwNyAyLjAyNUw4Ljg0MyA4LjM5YTEgMSAwIDAxLTEuNDE0IDBMMS4wNjUgMi4wMjVBMSAxIDAgMDEyLjQ3OS42MTFsNS42NTcgNS42NTdMMTMuNzkzLjYxMWExIDEgMCAxMTEuNDE0IDEuNDE0eiIvPjwvc3ZnPg==);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            cursor: pointer;
            transition: 0.3s ease;

            & svg {
                width: 14px;
                height: 14px;
            }



        }
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 119%;
        letter-spacing: 0.34px;
        height: 0;
        overflow: hidden;
        transition: 0.4s ease;

        @media screen and (min-width: $w760) {
            font-size: 17px;
        }

        & span[data-prop-tooltip] {
            text-decoration: underline;
        }

        & p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }

        & ul {

            margin: 20px 0;

            & li {

                position: relative;
                padding-left: 20px;
                padding-bottom: 5px;
                line-height: 120%;

                @media screen and (min-width: $w760) {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    content: '';
                    width: 2px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    left: 13px;
                    top: 0.65em;
                    border-radius: 50%;
                    background-color: #000;
                }
            }
        }

        & img {
            width: 100%;
            max-width: 100%;
            border-radius: 0px;
            margin: 35px 0;
        }

        & ol {
            counter-reset: number-list 00;
            padding: 20px 0;

            &>li {

                counter-increment: number-list 1;
                list-style-type: none;
                position: relative;
                margin-bottom: 10px;
                color: #000;
                padding-left: 20px;

                @media screen and (min-width: $w760) {

                    padding-left: 30px;
                }



                &::before {
                    content: counter(number-list);
                    color: $main;
                    font-weight: bold;
                    min-width: 35px;
                    display: inline-block;
                    position: absolute;
                    left: 0;

                    @media screen and (min-width: $w760) {}
                }
            }
        }

        & .text-height {
            opacity: 0;
            transition: 0.4s ease;
        }

        & .icon {
            display: inline-block;
            width: auto;
            height: 30px;

            & .tooltip-box-item {

                text-align: center;

            }

            & img {
                height: 100%;

                margin: 0;
                margin-right: 7px;
                margin-top: 10px;
            }
        }

        & .card-img-caption {
            & img {
                margin: 0;
            }

            & ul {
                margin: 0;
            }
        }
    }

    &__file {
        padding-top: 24px;

        & .dl-file {
            width: 100%;

            &__name {
                width: 100%;
            }
        }
    }


}



.sp-head {

    &__back {
        display: none;
    }

    &__title {

        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 24px;

        & h1 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            line-height: 125%;
        }

        & span {
            font-family: var(--font-montserrat);
            font-size: 14px;
            color: #8D8D8D;
            padding-bottom: 6px;
        }
    }

    &__details {

        display: flex;
        gap: 16px;

    }

    &__action {
        margin-left: auto;
    }

    &__price {
        font-weight: 600;
        font-size: 29px;
        color: var(--accent);
    }

    &__oldprice {
        font-weight: 600;
        font-size: 16px;
        color: #8D8D8D;
        text-decoration: line-through;
    }

    &__sale {
        & span {
            font-size: 12px;
            background-color: var(--accent);
            color: #fff;
            padding: 4px 10px;
            border-radius: 12px;
        }
    }

}

.sp-gallery {
    &__slider {
        position: relative;
        margin: 0 -24px;
    }

    &__typebrand {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.80);
        color: #fff;
        font-family: var(--font-montserrat);
        font-size: 11px;
        font-weight: 600;
        padding: 6px 16px;
    }

    &__set {
        background-color: #fff;
        box-shadow: 0 0 12px 0 #00000036;
        position: absolute;
        bottom: 30px;
        padding: 10px 15px;
        z-index: 5;
        display: flex;
        align-items: center;
        color: #fff;
        border-radius: 50px;
        color: var(--accent);
        left: 50%;
        margin-left: -95px;


        & svg {
            margin-right: 12px;
            fill: var(--accent);
        }

        & span {
            font-size: 14px;
            font-family: var(--font-montserrat);
            font-weight: 600;
        }

    }

    &__brand {
        position: absolute;
        left: 0;
        top: 35px;
        z-index: 5;

        & .bgimage {
            width: 100px;
            height: 40px;
            @include bgimage-contain;
        }
    }

    & picture {
        @include picture(92%, contain);
        background-color: #f2f7fa;
    }

    & .splide {
        &__pagination {
            position: static;
            padding-top: 32px;
        }
    }
}

.sp-details {
    &__radio {
        padding-bottom: 7px;

        & .radio {
            &__text {
                font-weight: 600;
                padding-top: 0;
            }
        }
    }

    &__desc {
        padding-bottom: 10px;

        & ul {

            margin: 20px 0;

            & li {

                position: relative;
                padding-left: 20px;
                padding-bottom: 5px;
                line-height: 120%;

                @media screen and (min-width: $w760) {
                    padding-left: 25px;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    content: '';
                    width: 3px;
                    height: 3px;
                    display: block;
                    position: absolute;
                    left: 9px;
                    top: 0.5em;
                    border-radius: 50%;
                    background-color: #000;
                }
            }
        }

    }

    &__colorpick {
        padding-bottom: 24px;
    }

    &__sizepick {
        padding-bottom: 15px;
    }

    &__tocart {

        padding-top: 24px;

        & .btn {
            width: 100%;
        }
    }

    &__border {
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 10px 10px;
        border-radius: 54px;
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before {
            content: attr(data-title);
            position: absolute;
            background-color: #fff;
            top: -12px;
            left: 20px;
            padding: 0 6px;
            font-size: 12px;
            font-family: var(--font-montserrat);
            color: #8D8D8D;
        }
    }

    &__right,
    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        & span {
            font-weight: 600;
            font-size: 13px;
            color: var(--accent);
        }
    }

    &__tablesize {
        text-align: right;
        color: var(--accent);
        font-weight: 600;
    }




}

.size-name {
    font-weight: 600;
    font-size: 14px;
}

.size-tooltip {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.color-preview {
    width: 30px;
    height: 30px;
    background-color: #eee;
    display: block;
    border-radius: 50%;
}

.color-name {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
}

.card-advantages {
    &__icon {
        & .bgimage {
            width: 40px;
            height: 40px;
            @include bgimage-contain;
        }
    }
}

.sp-advantages {

    padding-top: 24px;
    padding-bottom: 24px;

    &__list {
        & ul {
            display: flex;
            overflow-x: auto;
            padding-bottom: 12px;

            & li {}
        }
    }

    &__media {
        display: none;
    }
}

.card-advantages {
    display: flex;
    align-items: center;

    &__main {
        padding-left: 12px;
    }

    &__text {
        width: 125px;
        font-size: 11px;
        font-weight: 600;
        line-height: 120%;
    }
}

.sp-video-m {



    &__media {
        position: relative;
        z-index: 1;
        width: auto;
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
    }

    &__preview {
        border-radius: 8px;
        overflow: hidden;

        & picture {
            @include picture(135%, cover);
        }
    }

    &__play {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sp-video {
    &__title {
        font-size: 18px;
        font-weight: 600;
    }
}

.sp-set {
    &__list {
        display: flex;
    }

    &__item {
        min-width: 40vw;

        & .btn {

            height: 36px;
            min-width: 80px;
            font-weight: 600;
            padding-left: 22px;
            padding-right: 22px;
            line-height: 110%;
            padding-top: 8px;
            padding-bottom: 10px;
        }
    }
}