-
    const findcat = [
        'Мужская спецодежда',
        'Женская спецодежда',
        'Специализированная категория',
        'Категория'
    ];
   

mixin find-cat(title)
    .top-search__category
        a(href='#')
            .top-search__title= title
            .top-search__path
                ul
                    li Главная
                    li Спецодежда
                    li Мужская спецодежда

mixin find-product(title)
    .top-search__product
        a(href='#')
            .top-search__row
                .top-search__image: +bgimage('/img/product/ks223/ks223-2.jpg')
                .top-search__main
                    .top-search__title KW 204
                    .top-search__desc Летняя рабочая куртка для руководителей и ИТР.
                    .top-search__cost 14 500 ₽
                    

mixin top-search
    .top-search
        .container
            .top-search__wrp
                .top-search__close(data-find="close")
                    +icons('#ic_cross')
                .top-search__left
                    .top-search__looking
                        .top-search__label Ранее вы искали
                        ul
                            li <a href="/">Рабочая обувь</a> <span class="ts-remove" ></span>
                            li <a href="/">Зимний комбинезон Brodeks KW 505, желтый/черный</a> <span class="ts-remove" ></span>
                            li <a href="/">Ремень</a> <span class="ts-remove" ></span>

                    .top-search__popular
                        .top-search__label Часто ищут
                        ul
                            li: a(href='/search.html') Отражающий жилет
                            li: a(href='/search.html') Очки
                            li: a(href='/search.html') Каска
                            li: a(href='/search.html') Куртка утепленная
                            li: a(href='/search.html') Ботинки

                .top-search__right
                    
                    .top-search__placeholder(data-find="placeholder") Начните вводить поисковую фразу...
                    .top-search__suggest(data-find="sgst")
                        .top-search__label Найдено <span data-find="total" ></span>
                        .top-search__list(data-find="list")
                        .top-search__all
                            button.btn.btn-gray(type="submit" onclick="this.closest('.top-search').querySelector('form').submit()") Все результаты
                        

