-
    const findcat = [
        'Мужская спецодежда',
        'Женская спецодежда',
        'Специализированная категория',
        'Категория'
    ];
   

mixin find-cat(title)
    .top-search__category
        a(href='#')
            .top-search__title= title
            .top-search__path
                ul
                    li Главная
                    li Спецодежда
                    li Мужская спецодежда

mixin find-product(title)
    .top-search__product
        a(href='#')
            .top-search__row
                .top-search__image: +bgimage('/img/product/ks223/ks223-2.jpg')
                .top-search__main
                    .top-search__title KW 204
                    .top-search__desc Летняя рабочая куртка для руководителей и ИТР.
                    .top-search__cost 14 500 ₽
                    

mixin top-search
    .top-search
        .container
            .top-search__wrp
                .top-search__left
                    .top-search__looking
                        .top-search__label Ранее вы искали
                        ul
                            li Рабочая обувь <span class="ts-remove" ></span>
                            li Зимний комбинезон Brodeks KW 505, желтый/черный <span class="ts-remove" ></span>
                            li Ремень <span class="ts-remove" ></span>

                    .top-search__popular
                        .top-search__label Часто ищут
                        ul
                            li: span Отражающий жилет
                            li: span Очки
                            li: span Каска
                            li: span Куртка утепленная
                            li: span Ботинки
                            li: span Перчатки
                            li: span Женский костюм
                .top-search__right
                    
                    .top-search__suggest(data-find="sgst")
                        .top-search__label Найдено <span>237 товаров</span>
                        .top-search__list(data-find="list")
                        .top-search__all
                            button.btn.btn-gray(type="submit" onclick="this.closest('.top-search').querySelector('form').submit()") Все результаты
                        

