footer {
    background-color: #F2F6F9;
    padding: 56px 0;
    font-size: 15px;
}

.footer-subscribe {

    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 60px;

    @media screen and (min-width: $w760) {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        @media screen and (min-width: $w992) {
            width: calc(100% - 457px);
        }
    }

    &__right {
        @media screen and (min-width: $w992) {
            width: 457px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 8px;
    }

    &__desc {
        font-size: 15px;
        font-family: Montserrat;
        max-width: 700px;
    }

    & .checkbox {
        &__text {
            font-size: 13px;
            font-weight: 500;
        }
    }

    & .form {
        &__subitem {
            &--btn {
                max-width: 222px;
            }
        }
    }

    &__form {
        padding-top: 5px;
    }


}

.footer {
    &__row {
        @media screen and (min-width: $w992) {
            display: flex;
        }
    }

    &__left {
        @media screen and (min-width: $w992) {
            width: calc(100% - 425px);
        }
    }

    &__right {
        @media screen and (min-width: $w992) {
            width: 425px;
        }
    }

    &__menu {
        display: flex;
        gap: 5.5%;
    }

    &__logo {
        & .bgimage {
            width: 294px;
            height: 30px;
            display: inline-block;
            @include bgimage-contain;
            background-position-x: left;
        }
    }

    &__label {
        font-weight: 600;
        padding-bottom: 12px;
    }

    &__col {

        display: flex;
        flex-direction: column;

        & ul {

            margin-top: auto;

            & li {
                padding-bottom: 19px;

                &:last-child {
                    padding-bottom: 0;
                }

                & a {
                    color: var(--dark);

                    &:hover {
                        color: var(--accent);
                    }
                }
            }
        }

        &--strong {

            margin-right: 8%;


            & li {
                font-weight: 600;

            }
        }
    }

    &__phone {
        & a {
            font-size: 23px;
            font-weight: 600;
        }
    }

    &__sl {
        color: var(--accent);
        font-size: 14px;
    }

    &__h3 {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 20px;
    }



}

.footer-store {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.footer--top {

    padding-bottom: 28px;

    & .footer {
        &__left {
            display: flex;
            align-items: center;
        }

        &__right {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


    }
}

.footer--bottom {

    color: #8d8d8d;
    padding-top: 132px;
    font-size: 14px;

    & a {
        color: #8d8d8d;
    }

    & .footer {
        &__left {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }

        &__policy {
            padding-bottom: 12px;

            & a {
                font-size: 15px;

                &:hover {
                    color: var(--accent);
                }
            }
        }

        &__agreement {
            padding-left: 24px;
            font-size: 14px;
        }

        &__dev {
            & a {
                &:hover {
                    color: var(--accent);
                }
            }
        }


    }
}

.footer__msgr {

    margin-left: 7px;

    & .bgimage {
        width: 36px;
        height: 36px;
        display: inline-block;
        @include bgimage-contain;

        &:hover {
            opacity: 0.8;
        }
    }

    & ul {
        display: flex;
        gap: 18px;
    }

}

.footer-store {
    &__city {
        color: var(--accent);
        font-size: 13px;
        font-weight: 600;
        padding-bottom: 6px;
    }

    &__tel {

        padding-bottom: 3px;

        & a {
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__desc {
        font-size: 13px;
        max-width: 320px;
        line-height: 140%;
    }
}