mixin checkout-aside
    .checkout-aside
        .checkout-aside__wrp
            .checkout-aside__title Ваша корзина
            .checkout-aside__cart
                .checkout-aside__prop
                    ul
                        li
                            span Товары (17)
                            strong 39 400 ₽ 
                        li
                            .aside-dropdown
                                .aside-dropdown__title
                                    span Ваша выгода
                                    strong.color--green - 500 ₽
                                .aside-dropdown__content
                                    .aside-dropdown__item
                                        span Промокод
                                        strong - 250 ₽
                                    .aside-dropdown__item
                                        span Скидки
                                        strong - 250 ₽

                .checkout-aside__promocode
                    .input-material
                        input(type="text" )
                        label Промокод
                                
                .checkout-aside__more
                    span( data-popup="ajax" data-url="/parts/_popup-cart.html") Подробнее
            .checkout-aside__logo
                +checkbox('Нужно нанесение логотипа ')
                a(href="/print-logo.html") Подробнее...

            .checkout-aside__prop.checkout-aside__prop--details
                ul
                    li
                        span Доставка
                        strong Самовывоз
                    li
                        span Адрес
                        strong Санкт-Петербург, ул. Егорова, 25
                    li
                        span Дата
                        strong 27 сентября, после 15:00
                    li
                        span Оплата
                        strong Картой онлайн

            .checkout-aside__total
                span К оплате:
                strong 38 900 ₽

            .checkout-aside__pay
                a(href='/thanks.html'): button.btn.btn-full Оплатить
