.section-checkout {
    overflow: visible;
}



.checkout-aside {
    padding: 36px 0;

    @media screen and (min-width: $w991) {
        padding-top: 0;
    }

    @media screen and (min-width: $w992) {
        margin-top: -30px;
    }



    &__promocode {
        padding: 12px 0;

        & .input-material {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        padding-bottom: 23px;

        @media screen and (min-width: $w992) {
            padding-bottom: 10px;
        }
    }

    &__dropdown {
        & .color--green {
            color: #3CAA3C;
            font-weight: 600;
        }

        & .aside-dropdown {
            &__title {
                color: #787878;
                font-size: 15px;
            }

            &__content {
                font-size: 15px;
            }
        }
    }

    &__prop {

        padding-bottom: 4px;

        & ul {
            & li {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 500;
                padding: 8px 0;

                @media screen and (min-width: $w760) {
                    padding: 6px 0;
                }

                & span {
                    margin-right: 12px;
                }

                & strong {
                    font-weight: bold;
                    text-align: right;

                    &.color--green {
                        color: #3CAA3C;
                    }

                    &.color--accent {
                        color: rgb(192, 24, 24);
                    }

                    &.max-size {
                        font-size: 24px;

                        @media screen and (min-width: $w992) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }

        &--details {
            border-top: 1px solid rgba($color: #000000, $alpha: 0.12);
            padding: 17px 0;

            & ul {
                & li {
                    padding: 14px 0;
                }
            }
        }
    }

    &__more {
        font-size: 15px;
        font-weight: 600;
        color: var(--accent);
        padding-bottom: 36px;

        @media screen and (min-width: $w760) {
            padding-bottom: 25px;
        }

        & span {
            cursor: pointer;

            &::after {
                content: '';
                width: 12px;
                height: 8px;
                display: inline-block;
                margin-left: 10px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS40NjUgMi4wOTNsNC44NzcgNC43NzNhLjc3OS43NzkgMCAwMDEuMDgzIDBsNC44NzctNC43NzNjLjMtLjI5My4zLS43NjggMC0xLjA2MWEuNzc4Ljc3OCAwIDAwLTEuMDg0IDBMNS44ODMgNS4yNzUgMS41NDggMS4wMzJhLjc3OC43NzggMCAwMC0xLjA4MyAwYy0uMy4yOTMtLjMuNzY4IDAgMS4wNnoiIGZpbGw9IiMwMDkwYzMiLz48L3N2Zz4=);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: flex-start;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.12);
        padding: 20px 0;
        gap: 12px;

        @media screen and (min-width: $w1024) {
            align-items: center;
        }

        & a {
            color: var(--accent);
            font-weight: bold;
            margin-left: auto;
            font-size: 14px;
        }

        & .checkbox {
            &__text {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    &__total {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.12);
        padding-top: 29px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & strong {
            font-size: 27px;
            font-weight: 600;
        }
    }

    &__pay {
        padding-top: 36px;
    }

    &__cart {
        display: flex;
        flex-direction: column;
    }

    &__login {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 14px;
        font-family: var(--font-montserrat);
        padding: 16px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 38px;
        line-height: 140%;

        @media screen and (min-width: $w1440) {
            padding: 20px 24px;
            gap: 24px;
        }

        @media screen and (max-width: $w760) {
            order: 100;
            margin-top: 20px;
        }

        & a {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__checkout {
        & a {
            margin-top: 20px;
            display: block;
        }

        & .btn {
            @media screen and (min-width: $w992) {
                font-size: 16px;
            }
        }
    }


}

.aside-dropdown {

    width: 100%;

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        & span {

            &:hover {
                color: var(--accent);
            }

            &::after {
                content: '';
                width: 12px;
                height: 8px;
                display: inline-block;
                margin-left: 10px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS40NjUgMi4wOTNsNC44NzcgNC43NzNhLjc3OS43NzkgMCAwMDEuMDgzIDBsNC44NzctNC43NzNjLjMtLjI5My4zLS43NjggMC0xLjA2MWEuNzc4Ljc3OCAwIDAwLTEuMDg0IDBMNS44ODMgNS4yNzUgMS41NDggMS4wMzJhLjc3OC43NzggMCAwMC0xLjA4MyAwYy0uMy4yOTMtLjMuNzY4IDAgMS4wNnoiIGZpbGw9IiNBNkE2QTYiLz48L3N2Zz4=);
                background-position: center;
                background-repeat: no-repeat;
                transition: 0.3s ease;
            }
        }
    }

    &__content {
        background-color: #eee;
        padding: 12px;
        margin-top: 12px;
        display: none;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 5px;
        color: #555;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &.is-open {
        & .aside-dropdown {
            &__content {
                display: block;
            }

            &__title {
                & span {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.checkout-aside.checkout-aside--cart {

    @media screen and (max-width: $w480) {
        padding-top: 0;
    }

    @media screen and (min-width: $w1440) {
        margin-top: -150px;
    }

    & .checkout-aside {
        &__logo {
            border: none;
        }
    }
}

.aside-info {
    padding: 20px 0;
    margin-top: 40px;

    @media screen and (min-width: $w992) {
        padding: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 12px;
    }

    &__desc {
        font-size: 13px;
        color: #888;
        padding-bottom: 14px;

        @media screen and (min-width: $w992) {
            font-size: 13px;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
    }

    &__left {
        font-family: var(--font-montserrat);
    }

    &__phone {
        & a {
            font-weight: 500;
            font-size: 17px;

            @media screen and (min-width: $w760) {
                font-size: 18px;
            }
        }
    }

    &__name {
        font-size: 17px;

        @media screen and (min-width: $w760) {
            font-size: 18px;
        }
    }

    &__right {
        margin-left: auto;

        & ul {
            display: flex;
            gap: 6px;

            & a {

                background-color: #eee;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}