@keyframes to-change-tab {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.checkout {

    padding-bottom: 60px;

    & .multi-mask,
    & .input-material {
        border: 1px solid #B1B1B1;
    }

    & .multi-mask {

        max-width: 100%;

        & .input-material {
            border: none;
        }
    }

    & .form {
        &__label {
            font-family: involve;
        }
    }

    &__wrp {
        @media screen and (min-width: $w991) {
            display: flex;
            gap: 55px;
        }

        @media screen and (min-width: $w1440) {
            margin-right: 65px;
        }
    }

    &__content {
        @media screen and (min-width: $w1200) {
            width: calc(100% - 436px);

        }

        @media screen and (min-width: $w991) {
            width: calc(100% - 280px);
            max-width: 1200px;
            margin-right: auto;
        }
    }

    &__aside {

        @media screen and (max-width: $w991) {
            display: none;

            &.is-open {
                display: block;
            }
        }

        @media screen and (min-width: $w1200) {
            width: 436px;
        }

        @media screen and (min-width: $w991) {
            width: 280px;
        }

    }

    &__steps {

        @media screen and (min-width: $w1440) {
            padding-top: 62px;
        }

        @media screen and (min-width: $w760) {
            padding-top: 24px;
        }

        &-nav {

            padding-bottom: 24px;

            @media screen and (min-width: $w1440) {
                padding-bottom: 27px;
            }

            & ul {
                display: flex;
                align-items: center;
                gap: 16px;
                justify-content: space-around;

                @media screen and (min-width: $w1440) {
                    gap: 36px;
                }

                @media screen and (min-width: $w480) {
                    justify-content: flex-start;
                }

                & span {

                    font-size: 13px;
                    font-weight: 600;
                    color: #94A9B0;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 8px;
                    transition: 0.3s ease;

                    @media screen and (min-width: $w480) {
                        flex-direction: row;
                        gap: 12px;
                        font-size: 15px;
                    }

                    &::before {
                        content: attr(data-num);
                        width: 36px;
                        height: 36px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #94A9B0;
                        color: #fff;
                        border-radius: 50%;

                        font-size: 15px;
                        font-weight: 500;
                    }
                }

                & li {

                    cursor: pointer;


                    &.is-active {
                        & span {
                            color: var(--accent);

                            &::before {
                                background-color: var(--accent);
                            }
                        }
                    }

                    &.is-complete,
                    &:hover {
                        & span {
                            color: #000;

                            &::before {
                                background-color: rgba(0, 0, 0, .8);
                            }
                        }
                    }
                }
            }
        }

        &-item {
            display: none;

            &.is-active {
                display: block;
            }
        }
    }
}

.checkout-user {



    &__tabs {

        padding-bottom: 30px;

        & ul {
            display: flex;
            align-items: center;
            gap: 16px;

            & li {

                @media screen and (max-width: $w480) {
                    flex-grow: 1;

                    & span {
                        width: 100%;
                    }
                }

                & span {
                    font-size: 14px;
                    font-weight: 600;
                    background-color: rgba($color: #000000, $alpha: 0.04);
                    display: inline-flex;
                    height: 40px;
                    border-radius: 50px;
                    align-items: center;
                    justify-content: center;
                    padding: 0 1.5em;
                    cursor: pointer;
                    transition: 0.3s ease;

                    @media screen and (min-width: $w480) {
                        padding: 0 2em;
                    }


                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.1);
                    }
                }

                &.is-active {
                    & span {
                        background-color: rgba($color: #000000, $alpha: 0.8);
                        color: #fff;
                        border-radius: 30px;
                    }
                }
            }
        }

        &-item {
            display: none;

            &.is-active {
                display: block;
                animation: to-change-tab 0.4s ease forwards;
            }
        }

        &-container {
            padding-bottom: 24px;
        }
    }

    &__subscribe {
        padding-bottom: 24px;
    }

    &__next {



        & .btn {
            margin-left: auto;

            @media screen and (max-width: $w576) {
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (min-width: $w1440) {
                font-size: 17px;
            }
        }
    }



    & .form {
        &__subitem {
            @media screen and (min-width: $w1440) {
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }


    }
}

.checkout-delivery {
    &__tabs {

        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding-bottom: 36px;


        @media screen and (max-width: $w480) {
            justify-content: center;
        }

        & input {
            display: none;

            &:checked {
                &~.box-radio {

                    background-color: var(--accent);
                    color: #fff;

                    & .box-radio {
                        &__elem {
                            background-color: var(--accent);
                            border: 6px solid #fff;
                        }
                    }


                }


            }
        }
    }

    &__next {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }
}

.box-radio {

    background-color: var(--bg);
    border-radius: 15px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    transition: 0.4s ease;
    cursor: pointer;

    @media screen and (min-width: $w1440) {
        height: 60px;
        padding: 6px 23px;
    }

    &:hover {
        background-color: #c7dee6;
    }

    &__elem {
        width: 20px;
        min-width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        margin-left: 14px;
        border: 0px solid #fff;
        transition: 0.3s ease;

    }

    &__text {
        font-weight: 500;
        font-size: 14px;
    }

}

.checkout-delivery {
    &__content-item {
        display: none;

        &.is-active {
            display: block;
            animation: to-change-tab 0.4s ease forwards;
        }
    }
}



.checkout-pickup {

    @media screen and (min-width: $w1200) {
        display: flex;
        gap: 50px;
    }

    &__list {
        @media screen and (min-width: $w1200) {
            width: 50%;
        }
    }

    &__map {

        padding-top: 57%;
        position: relative;
        margin-top: 30px;

        @media screen and (min-width: $w1200) {
            width: calc(50%);
        }

        @media screen and (min-width: $w576) {
            padding-top: 30%;
            margin-top: 0;
        }

        & .ymap-container {

            background-color: var(--bg);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }


    }
}

.checkout-pickup-point {
    padding: 12px 24px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    transition: 0.3s ease;

    @media screen and (min-width: $w576) {
        margin-bottom: 12px;
    }

    @media screen and (max-width: 576px) {
        position: relative;
        padding-left: 30px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 6px;

        @media screen and (min-width: $w576) {
            font-size: 18px;
        }

        @media screen and (max-width: $w576) {



            &::before {
                content: '';
                width: 20px;
                min-width: 20px;
                height: 20px;
                display: inline-block;
                border-radius: 50%;
                background-color: #fff;
                margin-right: 14px;
                border: 1px solid #ccc;
                transition: 0.3s ease;
                box-sizing: border-box;
                cursor: pointer;
                margin-bottom: -1px;
                position: absolute;
                left: 0;
                top: 13px;
            }
        }

    }

    &__time {
        font-size: 14px;

        @media screen and (min-width: $w576) {
            padding-bottom: 12px;
        }
    }

    &__select {
        @media screen and (max-width: $w576) {
            display: none;
        }
    }

    &.is-active {
        @media screen and (min-width: $w576) {
            background-color: var(--accent);
        }

        & .checkout-pickup-point {

            &__time,
            &__title {
                @media screen and (min-width: $w576) {
                    color: #fff;
                }
            }

            &__title {
                &::before {
                    background-color: #fff;
                    border: 6px solid var(--accent);
                }
            }


        }

        & .btn {
            border: none;
            font-size: 0;
            transition-property: background;

            &::before {
                content: '';
                width: 36px;
                height: 36px;
                display: inline-block;
                background-color: #fff;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNDg4IDQuMTk5bDUuNTM0IDQuOTk4IDguODY2LTgiIHN0cm9rZT0iIzAwOTBDMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=);
            }

            &::after {
                content: attr(data-selected);
                font-size: 15px;
                margin-left: 12px;
                color: #fff;
            }
        }
    }

    & .btn {
        height: 46px;
        font-size: 15px;
        border-color: var(--accent);
        color: #475569;
    }
}

.checkout-field {
    &__label {
        padding-bottom: 16px;
        font-weight: 600;
    }

    &__radio {
        padding-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }


}

.checkout-fast {
    & textarea {
        border: 1px solid #ccc;
    }
}

.form__subitem p {
    font-size: 14px;
    font-family: var(--font-montserrat);
    color: rgba($color: #000000, $alpha: 0.22);
}

.checkout-pay {

    &__tabs {

        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding-bottom: 36px;

        @media screen and (max-width: $w576) {
            & label {
                width: 100%;

                & .box-radio {
                    justify-content: space-between;
                }
            }
        }

        & input {
            display: none;

            &:checked {
                &~.box-radio {

                    background-color: var(--accent);
                    color: #fff;

                    & .box-radio {
                        &__elem {
                            background-color: var(--accent);
                            border: 6px solid #fff;
                        }
                    }
                }
            }
        }
    }

    &__back {

        display: flex;
        justify-content: center;

        @media screen and (min-width: $w576) {
            padding-top: 60px;
            justify-content: flex-start;

        }

        @media screen and (min-width: $w991) {
            display: none;
        }
    }

}