.section-product-slider {
    padding: 30px 0 12px 0;

    @media screen and (min-width: $w992) {
        padding: 8px 0;
    }

    @media screen and (max-width: $w1440) {

        & .btn-tocart {

            & svg {
                margin-right: 0;
            }

            & .tocart-text {
                display: none;
            }
        }


    }

    &--rec {
        & .product-slider {
            &__title {
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 30px;

                @media screen and (min-width: $w991) {
                    font-size: 27px;
                }

                @media screen and (min-width: $w1200) {
                    font-size: 30px;
                    padding-bottom: 45px;
                    padding-top: 45px;
                }
            }
        }

        & .splide {
            &__arrow {
                &--prev {
                    left: -10px;
                }

                &--next {
                    right: -10px;
                }
            }
        }
    }
}

.product-slider {
    &__title {
        @include font-h2;
        padding-bottom: 36px;
    }

    @media screen and (max-width: 480px) {
        &:not(.minicard--large) {
            & .minicard {
                &__action {
                    position: static;
                    margin: 6px;
                    background-color: #fff;
                }

                &__top {
                    background-color: var(--bg);
                    border-radius: 8px;
                }

                &__bg {
                    flex-direction: row-reverse;
                    margin-right: 0;
                    flex-grow: 1;
                    justify-content: flex-end;
                }

                &__tofav {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}