include ../minicard/minicard.pug

mixin product-slider(data)
    section.section-product-slider(class=data.modify ? data.modify : '')
        .container
            .product-slider
                .product-slider__title= data.title
                .product-slider__splide
                    .splide(data-slider="product")
                        .splide__track
                            .splide__list
                                each item in products
                                    .splide__slide: +minicard(item)