.section-product-slider {
    padding: 8px 0;
}

.product-slider {



    &__title {
        @include font-h2;
        padding-bottom: 36px;
    }


    @media screen and (max-width: $w576) {
        & .minicard {
            &__price {
                text-align: center;
            }

            &__desc {
                text-align: center;
            }

            &__vcode {
                text-align: center;
            }

            &__colors {
                display: none;
            }
        }
    }
}