include ../../components/breadcrumb/breadcrumb.pug
include ../../components/video/video.pug
include ../../modules/news-slider/news-slider.pug
include ../../modules/similar-product/similar-product.pug

mixin blog-details
    section.section-blog-details
        .container
            .blog-details
                

                .blog-details__breadcrumbs
                    +breadcrumb([
                        'BRODEKS',
                        'Статьи',
                    ]) 

                .blog-details__title Испытание куртки  KW346 по мокрому
                .blog-details__topimage
                    +picture('/img/common/blog-image')
                .blog-details__article
                    .article-constructor
                        .article-constructor__text
                            .formated-text
                                p Размещению и контролю качества. Важную роль в создании спецодежды играют и те, кто носят ее каждый день. От них приходит живая обратная связь. На ее основе модернизируются готовые и создаются новые модели.
                                p Для вдохновения мы наблюдаем за скандинавскими брендами. За тем, как они сочетают минимализм, эргономику и качество, не теряя внешнюю презентабельность одежды. Также мы сотрудничаем с дизайнерами индустрии моды и конструкторами экипировки для активного отдыха
                        
                        .article-constructor__cards
                            .article-constructor__cards-wrp
                                .splide(data-slider="default")
                                    .splide__track
                                        .splide__list
                                            .splide__slide
                                                .card-article
                                                    .card-article__image
                                                        +picture('/img/product/ks209/blue1')
                                                    .card-article__button
                                                        a(href='#')
                                                            button.btn Кнопка
                                            .splide__slide
                                                .card-article
                                                    .card-article__image
                                                        +picture('/img/product/ks209/blue2')
                                                    .card-article__button
                                                        a(href='#')
                                                            button.btn Кнопка
                                            .splide__slide
                                                .card-article
                                                    .card-article__image
                                                        +picture('/img/product/ks209/blue3')
                                                    .card-article__button
                                                        a(href='#')
                                                            button.btn Кнопка
                                            .splide__slide                                           
                                                .card-article
                                                    .card-article__image
                                                        +picture('/img/product/ks209/blue2')
                                                    .card-article__button
                                                        a(href='#')
                                                            button.btn Кнопка
                        
                        .article-constructor__text
                            .formated-text
                                h2 Испытание ткани

                                p Размещению и контролю качества. Важную роль в создании спецодежды играют и те, кто носят ее каждый день. От них приходит живая обратная связь. На ее основе модернизируются готовые и создаются новые модели.
                                p Для вдохновения мы наблюдаем за скандинавскими брендами. За тем, как они сочетают минимализм, эргономику и качество, не теряя внешнюю презентабельность одежды. Также мы сотрудничаем с дизайнерами индустрии моды и конструкторами экипировки для активного отдыха
                        .article-constructor__gallery
                            ul.article-gallery
                                li: +picture('/img/photo/photo1')
                                li: +picture('/img/photo/photo2')
                        .article-constructor__text
                            .formated-text
                                p Для создания изделий мы выбираем прошедшие строгий контроль материалы. Ткани, фурнитура и даже нитки тестируются на износостойкость. А потом каждая модель проверяется на удобство, функциональность и защитные свойства. Для каждого размера мы прорабатываем свои лекала. Примерки проводим на разные типы фигур. В итоге будто происходит магия — спецодежда Вгодекз садится на любого как вторая кожа.
                                p Мы сотрудничаем с лучшими фабриками России. Контролируя все этапы производства, мы практически сводим кнулю наличие брака. Brodeks — это не только эргономичная, комфортная и качественная спецодежда. Это прежде всего люди, которые ее делают и носят! Каждый из нас гордится тем, что причастен к созданию рабочей одежды европейского уровня. И мы хотим дальше прививать культуру ее ношения всем российским специалистам — от частного мастера до руководителя компании.
                        .article-constructor__video
                            +video-youtube({
                                preview: '/img/common/blog2',
                                link: 'https://www.youtube.com/watch?v=f5k7wWEWXx8'
                            })
                        .article-constructor__text
                            .formated-text
                                p Для создания изделий мы выбираем прошедшие строгий контроль материалы. Ткани, фурнитура и даже нитки тестируются на износостойкость. А потом каждая модель проверяется на удобство, функциональность и защитные свойства. Для каждого размера мы прорабатываем свои лекала. Примерки проводим на разные типы фигур. В итоге будто происходит магия — спецодежда Вгодекз садится на любого как вторая кожа.
                                p Мы сотрудничаем с лучшими фабриками России. Контролируя все этапы производства, мы практически сводим кнулю наличие брака. Brodeks — это не только эргономичная, комфортная и качественная спецодежда. Это прежде всего люди, которые ее делают и носят! Каждый из нас гордится тем, что причастен к созданию рабочей одежды европейского уровня. И мы хотим дальше прививать культуру ее ношения всем российским специалистам — от частного мастера до руководителя компании.
                        
                        .article-constructor__gallery
                            ul.article-gallery
                                li: +picture('/img/photo/photo5')
                                li: +picture('/img/photo/photo4')
                                li: +picture('/img/photo/photo3')

                        .article-constructor__text
                            .formated-text
                                h2 Испытание ткани

                                p Размещению и контролю качества. Важную роль в создании спецодежды играют и те, кто носят ее каждый день. От них приходит живая обратная связь. На ее основе модернизируются готовые и создаются новые модели.
                                p Для вдохновения мы наблюдаем за скандинавскими брендами. За тем, как они сочетают минимализм, эргономику и качество, не теряя внешнюю презентабельность одежды. Также мы сотрудничаем с дизайнерами индустрии моды и конструкторами экипировки для активного отдыха

                                img(src="/img/common/main-bg.jpg")

                        .article-constructor__text
                            .formated-text
                                p Размещению и контролю качества. Важную роль в создании спецодежды играют и те, кто носят ее каждый день. От них приходит живая обратная связь. На ее основе модернизируются готовые и создаются новые модели.
                                p Для вдохновения мы наблюдаем за скандинавскими брендами. За тем, как они сочетают минимализм, эргономику и качество, не теряя внешнюю презентабельность одежды. Также мы сотрудничаем с дизайнерами индустрии моды и конструкторами экипировки для активного отдыха
                        
                                h1 Заголовок H1
                                h2 Заголовок H2
                                h3 Заголовок H3
                                h4 Заголовок H4
                                h5 Заголовок H5
                                h6 Заголовок H6

                                ul
                                    li Список маркированный
                                    li Список маркированный
                                    li Список маркированный
                                    li Список маркированный
                                    li Список маркированный

                                ol
                                    li Список нумерованный
                                    li Список нумерованный
                                    li Список нумерованный
                                    li Список нумерованный

                .blog-details__tags
                    ul
                        li: a(href='#') #Лидеры
                        li: a(href='#') #На выставке
                        li: a(href='#') #Команда Brodeks

    +similar-product-details-blog
    +news-slider-recomendet
                    