include ../../helpers/mixins.pug
 
.popup-form
    .popup-form__wrp
        .popup-form__icon
            span(style="background-image:url(/img/icons/ic_live-color.svg)")
        .popup-form__title Оставьте заявку <br> на онлайн показ
        .popup-form__desc  и наш специалист свяжется с вами для уточнения даты и времени онлайн встречи.
        .popup-form__form
            form(action="/action.php")
                .form
                    .form__item
                        .form__subitem
                            .input-material
                                input(type='text' required="" data-input-mask='name' maxlength="60")
                                label= 'ФИО'
                    .form__item
                        .form__subitem
                            .multi-mask
                                .input-material
                                    input(type='tel' required="" maxlength="60" )
                                    label= 'Контактный телефон'
                    .form__item
                        .form__subitem.form__subitem--free
                            .form__note
                                +checkbox-required('Отправляя заявку вы соглашаетесь с <a href="#">обработкой персональных даных</a>', 'policy', 'checked')
                    .form__item
                        .form__subitem.form__subitem--free
                            button.btn.btn-small(type="submit") Отправить
                                    