include ../../../blocks/modules/cart-img-caption/cart-img-caption.pug
include ../../helpers/mixins.pug
include ../../../blocks/components/video/video.pug
include ../../../blocks/modules/table-sizes/table-sizes.pug

+table-sizes