.section-stores-slider {
    padding: 24px 0 0 0;

    @media screen and (min-width: $w576) {
        padding: 24px 0 98px 0;
    }

    & .company-about {
        &__desc {

            font-family: var(--font-montserrat);
            font-weight: 500;
            font-size: 13px;
            padding-top: 30px;


            &.crop--text {
                @include line-clamp(3);
            }
        }

        @media screen and (max-width: $w576) {



            &__main {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 6px;
            }

            &__logo {
                width: 106px;
                padding-bottom: 0;

                & .bgimage {
                    width: 100%;
                    height: 40px;
                }
            }

            &__desc {
                padding-top: 26px;
                margin-bottom: 10px;
            }

            &__title {
                width: calc(100% - 120px);
                padding-left: 14px;
                padding-bottom: 0;
                line-height: 100%;
                padding-top: 6px;
            }
        }
    }
}

.section-stores-slider--desc {

    @media screen and (min-width: $w1440) {
        padding: 80px 0 60px;
        margin-top: 80px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 45px;
            right: 45px;
            background-color: #e6e6e6;
            height: 1px;
            width: auto;
            display: block;
        }

    }

    & .stores-slider {
        @media screen and (max-width: $w576) {
            &__address {
                font-size: 16px;
            }

            &__city {
                padding-bottom: 15px;
            }

            &__worktime {
                font-size: 16px;

                & br {
                    display: none;

                }
            }

            &__nav {
                top: 40px;
            }

            &__right {
                & picture {
                    margin-top: 0;
                }
            }

            &__left {
                padding-bottom: 12px;
            }
        }
    }
}

.show-more-button {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 13px;
    color: var(--accent);
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &::after {
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS41NzUuMzI3QS45LjkgMCAwMTEuODQ3LjI4NGw2LjIyIDUuODA0TDE0LjI4NS4yODRhLjkuOSAwIDExMS4yMjggMS4zMTVMOC42OCA3Ljk3N2EuOS45IDAgMDEtMS4yMjggMEwuNjIgMS42QS45LjkgMCAwMS41NzUuMzI3eiIgZmlsbD0iIzAwOTBDMyIvPjwvc3ZnPg==);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 12px;
        display: inline-block;
        margin-left: 10px;
        margin-top: 3px;
        transition: 0.3s ease;
    }

    &.is-open {
        &::after {
            transform: rotate(180deg);
        }
    }
}

.stores-slider {
    @media screen and (min-width: $w992) {
        display: flex;
        gap: 12px;
    }

    &__left {

        position: relative;
        padding-bottom: 40px;

        @media screen and (min-width: $w576) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
        }

        @media screen and (min-width: $w760) {
            padding-bottom: 60px;
        }

        @media screen and (min-width: $w992) {
            width: calc(22% - 12px);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__right {


        @media screen and (min-width: $w992) {
            width: 78%;
        }

        & picture {
            @include picture(65%, cover);
            border-radius: 8px;
            margin-top: 36px;

            @media screen and (min-width: $w576) {
                padding-top: 43%;
                margin-top: 0;
            }

            & img {
                border-radius: 8px
            }
        }
    }

    &__title {
        @include font-h2;
        padding-bottom: 28px;

        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &__city {
        font-size: 17px;
        font-weight: 600;
        color: var(--accent);
        padding-bottom: 25px;
        text-align: center;

        @media screen and (min-width: $w992) {
            font-size: 21px;
        }

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &__address {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 12px;

        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &__worktime {
        padding-bottom: 6px;

        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &__nav {

        display: flex;
        gap: 10px;

        @media screen and (max-width: $w576) {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            justify-content: space-between;
        }

        & div {
            border: 2px solid var(--accent);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s ease;

            & svg {
                fill: var(--accent);
                margin: -2px -2px;
            }

            &:hover {
                background-color: var(--accent);

                & svg {
                    fill: #fff;
                }
            }
        }
    }

    & .splide {
        &__slide {
            &>span {
                display: none;
            }
        }
    }




}

.stores-slider-row {

    @media screen and (min-width: $w1440) {
        display: flex;
        gap: 0 3%;
    }

    &__slider {
        @media screen and (min-width: $w1440) {
            width: 68%;
        }
    }

    &__about {
        padding-bottom: 40px;
        padding-top: 50px;

        @media screen and (min-width: $w1440) {
            flex-direction: column;
            width: 32%;
            padding-top: 0;

            &>div {
                width: 100%;
            }
        }

        @media screen and (min-width: $w760) {
            display: flex;
            gap: 50px;

            &>div {
                width: 50%;
            }
        }

        & .company-about {
            &__digits {
                display: flex;
                justify-content: space-between;
                padding-top: 0;

                @media screen and (max-width: $w760) {
                    display: none;
                }
            }

            &__logo {

                @media screen and (min-width: $w1200) {
                    padding-bottom: 20px;

                }

                & .bgimage {
                    @media screen and (min-width: $w1200) {
                        width: 175px;
                    }
                }
            }

            &__title {
                @media screen and (min-width: $w1200) {
                    font-size: 19px;
                    max-width: 360px;
                    line-height: 110%;
                    padding-bottom: 0px;

                }
            }

            &__desc {
                @media screen and (min-width: $w1200) {
                    font-size: 15px;
                    color: #2F3030;
                }
            }
        }

    }

    & .stores-slider {
        @media screen and (min-width: $w1440) {
            display: block;

            &__left {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                width: 100%;
                flex-direction: row;
                align-items: center;
                padding-bottom: 40px;
            }

            &__right {
                width: 100%;
            }
        }


    }
}