include parts.pug
include ../../top-search/top-search.pug 

.header-top
    .container
        .header-top__wrp
            .header-top__mobile
                .header-top__phone: a(href="tel:+78123098028") +7 812 309 80 28
                .header-top__email: a(href="mailto:zakaz@ag-technologies.ru")
                    | zakaz@ag-technologies.ru 
                    span.copy-field: +icons('#ic_copy')
            .header-top__left
                .header-top__location(data-region="open-window")
                   span г. Санкт-петербург,  ул. Егорова, 25
                   +icons('#ic_arrow-down')
                .header-top__worktime
                    span Можно примерить( 8:00 - 20:00) 
                    +icons('#ic_cross')

            .header-top__right
                .header-top__links
                    nav
                        ul
                            li: a(href='#') Юр. лицам
                            li: a(href='/delivery.html') География поставок
                            li: a(href='/about.html') О компании
                            li: a(href='/contacts.html') Контакты
                .header-top__msgr
                    ul
                        li: a(href='#'): +bgimage--nolazy('/img/icons/ic_wa.svg')
                        li: a(href='#'): +bgimage--nolazy('/img/icons/ic_tg.svg')
         
.header
    .container
        .header__wrp
            .header__logo
                a(href='/'): +bgimage--nolazy('/img/common/logo.svg')

            .header__catalog
                div.menu-catalog
                    a(data-headercat="open" data-type="fixed")
                        +icons('#ic_catalog')
                        span Каталог
            
            .header__find
                form(action="/search.html" data-find="form"): input(type="text" placeholder="Найти..." data-find="input")
                span.find-icon
                    +icons('#ic_find', 40)

            .header__msgr
                ul
                    li: a(href='#'): +bgimage--nolazy('/img/icons/ic_wa.svg')
                    li: a(href='#'): +bgimage--nolazy('/img/icons/ic_tg.svg')

            .header__contacts
                .header-contact
                    .header-contact__value: a(href='tel:+78123098028') +7 812 309 80 28
                    .header-contact__label: a(href="mailto:zakaz@ag-technologies.ru") 
                        | zakaz@ag-technologies.ru 
                        span.copy-field: +icons('#ic_copy')

            .header__actions
                ul
                    li: a(href='/login.html')
                        +icons('#ic_user', 40)
                        span Виктор Иванович
                    
                    li: a(href='/compare.html')
                        +icons('#ic_compare', 40)
                        span Сравнить 
                    li: a(href='/wishlist.html')
                        +icons('#ic_heart', 40)
                        span Избранное
                    li: a(href='/cart.html')
                        +icons('#ic_cart', 40)
                        span Корзина
                
            .header__burger
                .btn-burger(data-menu="open") 
                    i
                    i
                    i
    +top-search

.header-menu
    .container
        .header-menu__wrp
            ul  

                li.menu-catalog(data-headercat="open")
                    a(href='#')
                        +icons('#ic_catalog')
                        span Каталог

                each item in app.mainMenu
                    if(item.js)
                        li(data-menu=item.js)
                            a(href=item.href)= item.text
                    else
                        li
                            a(href=item.href)= item.text

                             

    +header-catalog
    +header-professions
    +header-brand
    
