include ../../top-catalog/top-catalog.pug

mixin header-brand
    .header-brands(data-header-popup="brands")
        .splide(data-slider="header-brands")
            .splide__track
                .splide__list
                     each item in brands
                        .splide__slide
                            a(href='/brand.html'): +bgimage(item)

mixin header-professions
    .header-professions(data-header-popup="professions")
        .container
            .splide(data-slider="header-prof")
                .splide__track
                    .splide__list
                        each item in professions
                            .splide__slide
                                a(href='/brand.html')
                                    +bgimage(item.img)
                                    div= item.span
 

mixin header-catalog
   +top-catalog