include ../../components/breadcrumb/breadcrumb.pug

mixin card-srore(data)
    .card-srore
        .card-srore__image: +picture('/img/other/store1')
        .card-srore__main
            .card-srore__city= data.city
            .card-srore__address= data.address
            .card-srore__metro= data.metro
            .card-srore__worktime= data.worktime

mixin delivery
    section.section-delivery
        .container
            .delivery
                .delivery__breadcrumb
                    +breadcrumb([
                        'AGT',
                        'Доставка и оплата',
                    ])
                .delivery__title: h1 Доставка и оплата
                .delivery__banner
                    picture
                        img(src="/img/common/delivery-banner.jpg")
                .delivery__tabs
                    ul
                        li(data-tab="2").is-active: button.btn.btn-gray Юридическое лицо
                        li(data-tab="1"): button.btn.btn-gray Физическое лицо 

                .delivery__row
                    .delivery__content(data-tab-container="type")

                        .delivery__tab-content.is-active(data-tabitem="2")

                            .delivery__header Способы оплаты

                            .delivery__text

                                p Клиенты - юридические лица или ИП могут оплатить свой заказ путем перечисления денежных средств со своего расчетного счета на расчетный счет нашей компании или оплатить товар корпоративной банковской картой в нашем торговом зале.

                                .text-column-2
                                    .text-column-2__col
                                        h3 При оплате по счету
                                        p На основании Вашего заказа мы сформируем счет на оплату и отправим его на указанный Вами электронный адрес или другим удобным для вас способом.
                                        p Обратите внимание: все цены в счете указываются с НДС 20%
                                        p После выставления счета, товар из наличия по вашему заказу резервируется на 10 (десять) рабочих дней начиная с дня выставления счета.
                                        p Все необходимые для бухгалтерии документы (оригинал счета на оплату, УПД (универсальный передаточный документ)), выдаются вместе с заказом при получении.
                                    
                                    .text-column-2__col
                                        h3 При оплате корпоративной картой
                                        p Оплата корпоративной картой возможна прямо в торговом зале. Все необходимые для бухгалтерии документы (оригинал счета на оплату, УПД (универсальный передаточный документ)) выдаются вместе с заказом при получении

                            .delivery__header Способы получения

                            .delivery__text

                                .text-column-2
                                    .text-column-2__col
                                        h3 Доставка Транспортной компанией
                                        p Доставка в регионы осуществляется транспортной компанией "Деловые Линии", либо любой другой ТК по согласованию с клиентом. Доставка до терминалов транспортной компании в Москве и Санкт-Петербурге осуществляется бесплатно при любом объеме заказа.  Оплата доставки может быть включена нами в счет на оплату или оплачена клиентом напрямую транспортной компании.
                                    
                                    .text-column-2__col
                                        h3 Доставка AG-Technologies по МСК и СПБ
                                        p Мы можем доставить товар нашим транспортом до вашего объекта или офиса в Москве и Санкт-Петербурге.  

                                h3 Самовывоз из магазинов  
                                .delivery-stores
                                    .delivery-stores__list
                                        .delivery-stores__item
                                            +card-srore({
                                                city: 'Санкт-Петербург',
                                                address: 'ул. Егорова, 25',
                                                metro: 'метро Технологический институт',
                                                worktime: 'Режим работы: пн-вс 9:00 - 21:00 СПБ',
                                            })
                                        .delivery-stores__item
                                            +card-srore({
                                                city: 'Москва',
                                                address: 'ул. Малая Калитниковская, 9',
                                                metro: 'метро Пролетарская',
                                                worktime: 'Режим работы: пн-вс 9:00 - 21:00 МСК',
                                            })



                            .delivery__header Документы для получения товара
                            .delivery__text
                                .text-column-2
                                    .text-column-2__col
                                        h3 Для юридических лиц
                                        p Если товар получает Генеральный директор: 
                                        p паспорт 
                                        p печать организации 
                                        p Если товар получает Доверенное лицо: 
                                        p доверенность по форме М2 или М2А, 
                                        p заверенную печатью и подписью ответственных лиц (ген. директор, главный бухгалтер)
                                    .text-column-2__col
                                        h3 Для Индивидуальных предпринимателей
                                        p Если товар получает ИП лично: 
                                        p паспорт, 
                                        p лист записи ЕГРИП по форме Р60009 
                                        p Если товар получает доверенное лицо: 
                                        p доверенность по форме М2 или М2А, 
                                        p заверенную печатью и подписью ответственных лиц (предприниматель, главный бухгалтер)
                            
                            .delivery__header Отмена заказа
                            .delivery__text
                                p При удалении товаров из оплаченного заказа или при аннулировании заказа целиком вы можете заказать другой товар на такую же сумму, либо полностью вернуть всю сумму на карту с помощью вашего менеджера.

                        .delivery__tab-content(data-tabitem="1")

                            .delivery__header Способы оплаты
                            .delivery__text

                                .text-column-2
                                    .text-column-2__col
                                        h3 Наличными или банковской картой при получении
                                        p вы можете оплатить заказ наличными или банковской картой при получении товара от курьера или в пункте самовывоза
                                    .text-column-2__col
                                        h3 Онлайн-оплата на сайте
                                        p доступна оплата через сайт с помощью банковской карты или СБП
                                    


                            .delivery__header Способы получения
                            .delivery__text

                                .text-column-2
                                    .text-column-2__col
                                        h3 Доставка СДЭК (курьер/ПВЗ)
                                        p Доставка осуществляется через курьерскую службу СДЭК до двери или до пункта выдачи заказов.
                                        br
                                        h3 Экспресс-доставка по Санкт-Петербургу и Москве
                                        p оперативная доставка доступна в пределах Санкт-Петербурга и Москвы.
                                    .text-column-2__col
                                        h3 Доставка Почтой России
                                        p Возможна отправка заказа Почтой России в любой регион.

                            
                            .delivery__text
                                h3.title-no-padd Самовывоз из магазинов  
                                .delivery-stores
                                    .delivery-stores__list
                                        .delivery-stores__item
                                            +card-srore({
                                                city: 'Санкт-Петербург',
                                                address: 'ул. Егорова, 25',
                                                metro: 'метро Технологический институт',
                                                worktime: 'Режим работы: пн-вс 9:00 - 21:00 СПБ',
                                            })
                                        .delivery-stores__item
                                            +card-srore({
                                                city: 'Москва',
                                                address: 'ул. Малая Калитниковская, 9',
                                                metro: 'метро Пролетарская',
                                                worktime: 'Режим работы: пн-вс 9:00 - 21:00 МСК',})

                            .delivery__header Программа лояльности “Клуб друзей AGT”
                            .delivery__text
                                p Сразу после первой покупки вы автоматически становитесь участником программы лояльности «Клуб друзей AG-Technologies».
                                p Более подробно ознакомиться с условиями можно на официальной странице клуба.
                                
                                h3.title-deal Преимущества для членов клуба
                            .delivery__deal
                                ul
                                    li 
                                        strong Расширенная гарантия
                                        | при обнаружении дефекта после покупки мы заменим товар на новый.
                                    li 
                                        strong Возврат без чека
                                        | Вы можете вернуть товар даже без чека — мы готовы пойти вам навстречу.
                                    li 
                                        strong Бонусная программа
                                        | за каждую покупку начисляются бонусы, которыми можно оплатить до 25% следующей покупки.
                            
                            .delivery__header Отмена заказа
                            .delivery__text
                                p При удалении товаров из оплаченного заказа или при аннулировании заказа целиком Вы можете заказать другой товар на такую же сумму, либо полностью вернуть всю сумму на карту с помощью Вашего менеджера.


                    .delivery__aside
                        
                        .delivery__contacts
                            .delivery__head Связаться с нами
                            .delivery-contacts
                                
                                .delivery-contacts__title 
                                    +icons('#ic_location') 
                                    span Магазин в Санкт-Петербурге
                                .delivery-contacts__desc 
                                    p ул. Егорова 25, метро Технологический институт
                                    small Режим работы: пн-вс 9:00 - 21:00 МСК
                                .delivery-contacts__link: a(href='tel:+7 812 309 80 28') +7 812 309 80 28
                            .delivery-contacts
                                 
                                .delivery-contacts__title 
                                    +icons('#ic_location')
                                    span Магазин в Москве
                                .delivery-contacts__desc
                                    p Малая Калитниковская ул., д. 9, метро Пролетарская
                                    small Режим работы: пн-вс 9:00 - 21:00 МСК
                                .delivery-contacts__link: a(href='tel: +7 499 703 30 58')  +7 499 703 30 58
                            .delivery-contacts
                                  
                                .delivery-contacts__title 
                                    +icons('#ic_phone')
                                    span Телефон для регионов
                                .delivery-contacts__desc
                                    p пн-пт с 09:00 до 18:00 <br> по Московскому времени
                                .delivery-contacts__link: a(href='tel:8 800 777-35-68') 8 800 777-35-68
                            .delivery-contacts
                                .delivery-contacts__title 
                                    +icons('#ic_mail')
                                    span Почта
                                .delivery-contacts__desc Оставьте отзыв или задайте вопрос
                                .delivery-contacts__link
                                    a(href='mailto:info@agt.ru') 
                                        | info@ag-technologies.ru
                                        span.copy-field: +icons('#ic_copy')
                        