- 
  const app = {

    mainMenu: [ 
      { 
        text: 'Каталог',  
        href: '/catalog.html', 
        icon: false
      },
      { 
        text: 'Новинки',  
        href: '/catalog.html', 
        icon: false,
        sub: false
      },
      { 
        text: 'Профессии',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Бренды',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Доставка и примерка',  
        href: '/catalog.html', 
        icon: false,
      },
      { 
        text: 'Нанесение логотипа',  
        href: '/catalog.html', 
        icon: false,
      }
  ],
    
} 

 
